
/* Wrap text on all table components */
.el-table .cell {
    word-break: normal;
  }

.el-popover {
  word-break: normal;
}

/* Overrride the element-ui default styling of this component, used on QfdReport Help panel. */
.el-collapse-item__content {
  font-size: inherit;
  line-height: inherit;
}

