<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div id="app">
    <sidebar>
      <el-menu-item
        :disabled="mainModuleURL === null"
        @click="routeToExternal(mainModuleURL)"
      >
        <i
          class="el-icon-office-building"
        />
        <span slot="title">DTOcean+ Home</span>
      </el-menu-item>

      <el-menu-item
        index="/"
      >
        <i
          class="el-icon-s-home"
        />
        <span slot="title">Structured Innovation Home</span>
      </el-menu-item>
      <el-menu-item
        index="/qfd"
        @click="routeTo('QfdList')"
      >
        <i
          class="el-icon-magic-stick"
        />
        <span slot="title">Concept Creation & Improvement</span>
      </el-menu-item>
      <el-menu-item
        index="/fmea"
        @click="routeTo('FmeaList')"
      >
        <i
          class="el-icon-umbrella"
        />
        <span slot="title">Concept Risk Analysis</span>
      </el-menu-item>
      <el-menu-item
        disabled
      >
        <i
          class="el-icon-document"
        />
        <span slot="title">Report Generation</span>
      </el-menu-item>

      <el-menu-item
        :disabled="docsURL === null"
        @click="routeToExternal(docsURL)"
      >
        <i
          class="el-icon-reading"
        />
        <span slot="title">Documentation & References</span>
      </el-menu-item>
    </sidebar>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
// @ is an alias to /src
import Sidebar from '@/components/Sidebar.vue'

export default {
  name: 'Home',
  components: {
    Sidebar,
  },
  data () {
    return {
      mainModuleURL: null,
      docsURL: null,
    }
  },
  mounted () {
    var hostname = window.location.hostname
    if (hostname.startsWith('si')) {
      this.mainModuleURL = hostname.replace('si', 'mm')
      this.docsURL = hostname.replace('si', 'documentation')
    }
  },
  methods: {
    routeTo (name) {
      if (name !== this.$route.name) {
        this.$router.push(name)
      }
    },
    routeToExternal (url) {
      window.open(url, '_blank')
    },
  },
}
</script>

<style lang="scss">
@use "sass:color";
@use '@/variables.scss';
@import 'normalize-scss';
@include normalize;

@import url('https://fonts.googleapis.com/css?family=Rajdhani');

h1, h2, h3, h4, h5, h6 {font-family: "Rajdhani", "sans-serif";}

* {
  font-family: "Open-sans", sans-serif;
}

body{
  max-width: 100vw;
}

#app{
  text-align: left;
  color: #2c3e50;
  display: grid;

  grid-template-areas:
    "nav main";

  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: auto;
}

.sidebar {
  grid-area: nav;
  background-color: variables.$menuBg;
}

main {
  grid-area: main;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

</style>
