// DTOcean+ Structured Innovation Module
// Copyright (C) 2021 Energy Systems Catapult
//
// This program is free software: you can redistribute it and/or modify it
// under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

@use "sass:color";
$primary: #02397C;

$error: #F56C6C;

$warning: #F5C56C;

$question: #816CF5;

/* Colours from OCC */

$menuText:#bfcbd9;
$menuActiveText:#39d2ff;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: $primary;
$menuHover:#263445;

$subMenuBg:#022c5f;
$subMenuHover:#011329;

$sideBarWidth: 210px;


/* Add more as required */ 