<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <div id="content">
      <div class="about-header">
        <el-button
          v-show="pageIndex > 0"
          type="secondary"
          icon="el-icon-arrow-left"
          @click="changePage(-1)"
        >
          Previous
        </el-button>
        <div class="title_row">
          <h1>{{ pageTitles[pageIndex] }}</h1>
          <h2 v-show="pageIndex === 0">
            Learn more about the methodologies used in the Structured Innovation tool.
          </h2>
        </div>
        <el-button
          v-show="pageIndex > 0"
          type="secondary"
          icon="el-icon-arrow-right"
          @click="changePage(1)"
        >
          Next
        </el-button>
      </div>
      <div
        v-show="pageIndex === 0"
        class="card_row"
      >
        <el-card
          id="qfd-card"
          shadow="hover"
        >
          <div slot="header">
            <span><h2 style="display: inline-block">QFD</h2></span>
            <el-button
              type="secondary"
              size="small"
              style="float: right;"
              @click="showPage(1)"
            >
              More Info...
            </el-button>
          </div>
          <div>
            <h3>Quality Function Deployment</h3>
            <p>
              A structured methodology used to identify and prioritise customers’ needs and translate them into design requirements to ensure that outputs,
              whether product or process, meet these needs. The purpose of the methodology is to scan the design space by mapping options for each of the key
              parameters which make up ocean energy concepts, then ranking the attractiveness of these options through high level physical and economic assessments.
              Secondly, to define the innovation problem space and trade-off in the system representing the customer’s voice and make an immediate objective assessment
              of the best solutions that fit the users’ requirements.
            </p>
          </div>
        </el-card>
        <el-card
          id="triz-card"
          shadow="hover"
        >
          <div slot="header">
            <span><h2 style="display: inline-block">TRIZ</h2></span>
            <el-button
              type="secondary"
              size="small"
              style="float: right;"
              @click="showPage(2)"
            >
              More Info...
            </el-button>
          </div>
          <div>
            <h3>Theory of Inventive Problem Solving</h3>
            <p>
              A systematic inventive problem-solving approach to produce innovative solutions to the QFD requirements where an improvement is needed,
              or if there is no existing solution, or if the key performance indicators are not satisfactorily met.
              Based on the principles of creativity, patents, and research, TRIZ methodology identifies the generic concept problems and solutions and
              eliminates contradictory requirements
            </p>
          </div>
        </el-card>
        <el-card
          id="fmea-card"
          shadow="hover"
        >
          <div slot="header">
            <span><h2 style="display: inline-block">FMEA</h2></span>
            <el-button
              type="secondary"
              size="small"
              style="float: right;"
              @click="showPage(3)"
            >
              More Info...
            </el-button>
          </div>
          <div>
            <h3>Failure Modes and Effects Analysis</h3>
            <p>
              A methodology used as risk analysis and mitigation tool to improve development ventures.
              Design or Concept FMEA is a methodology applied early in development to help designers identify and analyse
              all possible ways a concept or design can fail and design a strategy to prioritise and mitigate the biggest risks.
            </p>
          </div>
        </el-card>
      </div>
      <div
        v-show="pageIndex === 1"
        class="about-detail"
      >
        <el-row>
          <el-col :span="24">
            <p>
              In this era of high competitiveness and open markets, building a new product is no longer a question of making
              something that just work, instead, the question is: what is the added value?
              What are the things that can makes the products better than the competitors?
            </p>
            <p>
              The Quality Function Deployment (QFD), is a  structured methodology used to develop and improve design processes,
              by leading the designer to translate customer requirements into product or process requirements,
              and in turn, gain insights into conflicts and innovative solutions
            </p>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <p>The process can be summed up:</p>
            <ul>
              <li>Obtain prioritisation of product requirements (WHATs)</li>
              <li>Create multiple solutions to each requirement (HOWs)</li>
              <li>Find the strength of relationship between the requirements and solutions (usually on a scale of 0, 1, 4,9)- (HOW vs WHATs)</li>
              <li>Understand the relationships between solutions (strong, weak and positive or negative conflicts)- (WHATs vs WHATs)</li>
              <li>Offer subjective or objective measures to these solutions (qualitative or qualitative)-the benchmarking, target values</li>
              <li>Rate the organisational effort difficulty in engineering and delivering these solutions</li>
              <li>Obtain the optimum set of solutions, based on impact and organisational efforts</li>
            </ul>
            <p>
              QFD process is iterative, starting from high-level and drills down further using the technical characteristics as the requirement,
              which initiate the second iteration. This enables the decision-makers to go a step further and supports the rationale behind
              each set of design decisions.
              To find out more … LINK
            </p>
          </el-col>
          <el-col :span="12">
            <img
              src="../assets/qfd.png"
              style="width:100%;"
            >
          </el-col>
        </el-row>
      </div>
      <div
        v-show="pageIndex === 2"
        class="about-detail"
      >
        <el-row>
          <el-col :span="24">
            <p>
              TRIZ, the Russian acronym for the Theory of Inventive Problem Solving, is a problem-solving methodology
              that draws on thousands of engineers' past knowledge and ingenuity to speed up creative problem solving for project teams.
              One essential TRIZ concept is that there are fundamental contradictions at the root of most problems. In many cases,
              a reliable way to solve a problem is to eliminate these contradictions. TRIZ, through problem-solving, works out the benefits of
              achieving an output against the costs and harms of achieving and increasing the ideality of the product designs.
            </p>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <p>The four basic steps used in TRIZ are:</p>
            <ul>
              <li>Define the specific problem</li>
              <li>Find the TRIZ generalised problem that matches it</li>
              <li>Find the generic solution that solves the generalised problem</li>
              <li>Adapt the generic solution to solve the specific problem</li>
            </ul>

            <p>
              TRIZ consists of a set of practical tools for inventing and solving technical problems
              of varying complexity, of which the following have been implemented in the Structured Innovation tool:
            </p>
            <ul>
              <li>39x39 Contradiction matrix</li>
              <li>40 invented principles</li>
              <li>Law of ideality</li>
            </ul>
          </el-col>
          <el-col :span="12">
            <img
              src="../assets/triz.png"
              style="width:100%"
            >
          </el-col>
        </el-row>
      </div>
      <div
        v-show="pageIndex === 3"
        class="about-detail"
      >
        <el-row>
          <el-col :span="24">
            <p>
              Failure Mode and Effect Analysis (FMEA) is a methodology used to identify and eliminate potential system failures.
              It provides a means to compare various system configurations by identifying possible root causes of failure(s),
              failure modes and estimation of relative risks, to drive towards higher reliability, quality and enhanced safety.
              The tool aids in developing robust design and control measures to prevent potential failures from occurring.
            </p>
            <p>
              The Concept/Design FMEA is used as part of the DTOceanPlus Structured Innovation tool for design or concept assessments.
              The methodology assesses the system to highlight potential risks associated with failure of the system and of its functions,
              and to identify ways to resolve them before actual designs are implemented.
            </p>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <p>The steps are as follows:</p>
            <ul>
              <li>Identify areas of the process that most impact the customers.</li>
              <li>Identify how the design is most likely to fail (what can go wrong and why).</li>
              <li>Points to process failures that are most likely to detect.</li>
              <li>Eliminate failure modes from design where possible.</li>
              <li>Minimise the severity and reduce the occurrence of failure modes.</li>
              <li>Improve detection of failure modes.</li>
            </ul>
            <p>A team approach is to:</p>
            <ul>
              <li>Identify the ways in which a concept or design can fail.</li>
              <li>Estimate risk associated with specific causes.</li>
              <li>Prioritise the actions that should be taken to reduce risk.</li>
              <li>Evaluate design validation plan (desgin FMEA).</li>
            </ul>
          </el-col>
          <el-col :span="12">
            <img
              src="../assets/fmea.png"
              style="width:100%"
            >
          </el-col>
        </el-row>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'About',
  components: {
  },
  data () {
    return {
      pageIndex: 0,
      pageTitles: ['About the Structured Innovation Tool', 'About QFD', 'About TRIZ', 'About FMEA'],
    }
  },
  methods: {
    showPage (index) {
      this.pageIndex = index
    },
    changePage (step) {
      this.pageIndex = this.pageIndex + step
      if (this.pageIndex > 3) {
        this.pageIndex = 0
      }
    },
  },
}
</script>

<style>
.about-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.about-header .el-button {
  height: 25%;
  margin: 0 50px;

}

.title_row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title_row h1{
  margin: 20px;
}

.card_row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.el-card {
  width: 30%;
  margin: 0 10px;
}

.about-detail p, li {
  font-size: 1.3em;
}

/* Colour the cards */
#qfd-card{
  background: #418DDB;
  color:#000000;
}

#triz-card{
  background: #314155;
  color: white;
}

#fmea-card{
  background: #FEBF6D;
}

/* About detail page content */
.about-detail {
  padding: 15px 100px;
}
</style>
