<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="qfd-impacts">
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to define the effects and corresponding severity of failure for each previously defined mode.
    </el-alert>
    <fmea-effects-table
      :requirements="analysis.requirements"
      :failure-modes="analysis.failure_modes"
      :effects="analysis.effects"
      @update="update"
      @create="create"
      @del="del"
      @selected="selected"
    />
  </div>
</template>

<script>
import FmeaEffectsTable from '@/components/FmeaEffectsTable.vue'

export default {
  name: 'FmeaEffects',
  components: { FmeaEffectsTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    del (id) {
      console.log(id)
      this.analysis.deleteEffectById(id)
    },
    update (id, data) {
      this.analysis.updateEffectById(id, data)
    },
    create (data) {
      this.analysis.addEffect(data)
    },
    selected (selection) {
      this.$emit('selected', selection)
    },
  },
}
</script>

<style>
</style>
