<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="fmea-edit">
    <header>
      <stepper :steps="steps" />
    </header>
    <div class="content">
      <router-view
        :analysis="analysis"
        @selected="handleChangedSelection"
      />
      <nav-buttons :steps="steps" />
    </div>
    <toolpane
      :analysis="analysis"
      :display-info="displayInfo"
      :selection="selection"
    />
  </div>
</template>

<script>
import { Analysis } from '@/service/fmea_analysis.js'
import { entityPageMap } from '@/entity_mapping.js'
import Toolpane from '@/components/Toolpane.vue'
import Stepper from '@/components/Stepper.vue'
import NavButtons from '@/components/NavButtons.vue'
export default {
  name: 'FmeaEdit',
  components: { Toolpane, Stepper, NavButtons },
  props: { id: { type: Number, required: true } },
  data () {
    return {
      isSaved: true,
      analysis: new Analysis(),
      selection: { analysis_type: 'fmea', type: null, data: null },
    }
  },
  computed: {
    steps () {
      return this.getSteps().map((route) => {
        return {
          ...route,
          status: 'pending',
          errors: this.analysis.issues.filter((issue) => issue.type === 'error' & entityPageMap.fmea[issue.entity] === route.name).length,
        }
      })
    },
    displayInfo () {
      return [
        { field: 'Design Requirements', value: this.analysis.requirements.length },
        { field: 'Action Level', value: this.analysis.action_level },
        { field: 'Occurrence Limit', value: this.analysis.occurrence_limit },
        { field: 'Failure Modes (total)', value: this.analysis.failure_modes.length },
        { field: 'Effects (total)', value: this.analysis.effects.length },
        { field: 'Causes (total)', value: this.analysis.causes.length },
        { field: 'Design Controls (total)', value: this.analysis.controls.length },
      ]
    },
  },
  async created () {
    const analysis = await Analysis.getById(this.id)
    if (analysis) {
      this.analysis = analysis
    } else {
      this.$router.replace({ name: 'FmeaList' })
    }
  },
  methods: {
    handleChangedSelection (selection) {
      this.selection = { analysis_type: 'fmea', ...selection }
    },
    getSteps () {
      return this.$router.options.routes[0].children.find(r => r.name === this.$options.name).children
    },
    save () {
      this.isSaved = false

      setTimeout(() => { this.isSaved = true }, 400)
    },
  },
  beforeRouteUpdate (to, from, next) {
    this.selection = { type: null, data: null }
    next()
  },
}
</script>

<style scoped>
.fmea-edit{
  display: grid;
  grid-template-areas:
    "toolbar toolbar"
    "main side";

  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  height: 100%;
  max-width: 100%;
}
header {
  grid-area: toolbar;
  border-bottom: solid 1px #e6e6e6;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

header >>> .el-step__title {
    line-height: 1.5em;
}

.toolpane {
  grid-area: side;
  min-height: 100%;
  height: 100%;
/*  width: 400px;*/
}

.content {
  padding: 0 1.5em;
  grid-area: main;
  min-height: 100%;
  min-width: 1fr;
  max-width: 1fr;
  overflow: auto;
}
</style>
