<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to define mitigations where the RPN threshold and/or occurrence limit have been exceeded.
    </el-alert>
    <fmea-mitigations-table
      :requirements="analysis.requirements"
      :failure-modes="analysis.failure_modes"
      :effects="analysis.effects"
      :causes="analysis.causes"
      :controls="analysis.controls"
      :mitigations="analysis.mitigations"
      :rpns="rpns"
      @update="update"
      @create="create"
      @del="del"
    />
  </div>
</template>

<script>
import FmeaMitigationsTable from '@/components/FmeaMitigationsTable.vue'

export default {
  name: 'FmeaMitigations',
  components: { FmeaMitigationsTable },
  props: {
    analysis: { type: Object, required: true },
  },
  data () {
    return {
      rpns: [],
    }
  },
  watch: {
    analysis () {
      this.getRpns()
    },
  },
  created () {
    if (this.analysis.id) {
      this.getRpns()
    }

    this.$watch('analysis._queueLength', this.getRpns)
  },
  methods: {
    async getRpns () {
      if (this.analysis._queueLength === 0) {
        const rpns = await this.analysis.getRpns()
        this.rpns = rpns
      }
    },
    del (id) {
      this.analysis.deleteMitigationById(id)
    },
    update (id, data) {
      this.analysis.updateMitigationById(id, data)
    },
    create (data) {
      this.analysis.addMitigation(data)
    },
  },
}
</script>

<style>
</style>
