<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to define the name, action level and occurrence limit of the FMEA analysis.
      The action level defines the Risk Priority Number (RPN) threshold above which mitigation is needed and
      the occurrence limit beyond which investigation of a failure mode is required.
    </el-alert>
    <h2>Definition of Analysis</h2>
    <fmea-define-table
      :analysis="analysis"
      @update="update"
    />
  </div>
</template>

<script>
import FmeaDefineTable from '@/components/FmeaDefineTable.vue'

export default {
  name: 'FmeaDefine',
  components: { FmeaDefineTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    update (id, data) {
      this.analysis.updateAnalysis(data)
    },
  },
}
</script>

<style>
</style>
