<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to define possible failure modes that could occur for each functional or design requirement.
      Note that at least one failure mode must be defined for each requirement.
    </el-alert>
    <fmea-failure-modes-table
      :requirements="analysis.requirements"
      :failure-modes="analysis.failure_modes"
      @update="update"
      @create="create"
      @del="del"
      @selected="selected"
    />
  </div>
</template>

<script>
import FmeaFailureModesTable from '@/components/FmeaFailureModesTable.vue'

export default {
  name: 'FmeaFailureModes',
  components: { FmeaFailureModesTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    del (id) {
      this.analysis.deleteFailureModeById(id)
    },
    update (id, data) {
      this.analysis.updateFailureModeById(id, data)
    },
    create (data) {
      this.analysis.addFailureMode(data)
    },
    selected (selection) {
      this.$emit('selected', selection)
    },
  },
}

</script>

<style>
</style>
