<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to define the description for each identified functional or design requirements.
      These requirements can be inputted and/or selected from other modules of the DTOceanPlus suite of tools under the Data Sources icon.
    </el-alert>
    <fmea-requirements-table
      :requirements="analysis.requirements"
      @update="update"
      @create="create"
      @del="del"
      @selected="selected"
    />
  </div>
</template>

<script>
import FmeaRequirementsTable from '@/components/FmeaRequirementsTable.vue'

export default {
  name: 'FmeaRequirements',
  components: { FmeaRequirementsTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    del (id) {
      this.analysis.deleteRequirementById(id)
    },
    update (id, data) {
      this.analysis.updateRequirementById(id, data)
    },
    create (data) {
      this.analysis.addRequirement(data)
    },
    selected (selection) {
      this.$emit('selected', selection)
    },
  },
}
</script>

<style>
</style>
