<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="fmea-causes">
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to define the causes and corresponding likelihood of failure for each defined mode.
    </el-alert>
    <fmea-causes-table
      :requirements="analysis.requirements"
      :failure-modes="analysis.failure_modes"
      :causes="analysis.causes"
      @update="update"
      @create="create"
      @del="del"
      @selected="selected"
    />
  </div>
</template>

<script>
import FmeaCausesTable from '@/components/FmeaCausesTable.vue'

export default {
  name: 'FmeaCauses',
  components: { FmeaCausesTable },
  props: {
    analysis: { type: Object, required: true }, // TODO: not sure if props should be declared in router/index.js for each Array, with required set as appropriate for particular route, then v-bind analysis to router-view instead
  },
  methods: {
    del (id) {
      this.analysis.deleteCauseById(id)
    },
    update (id, data) {
      this.analysis.updateCauseById(id, data)
    },
    create (data) {
      this.analysis.addCause(data)
    },
    selected (selection) {
      this.$emit('selected', selection)
    },
  },
}
</script>

<style>
</style>
