<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you can view the updated FMEA analysis data to identify if any remaining mitigations are required or if proposed mitigations are sufficient.
      For further mitigations, return to the Mitigations Step.
    </el-alert>
    <div class="report-header">
      <h2> Report </h2>
      <el-button
        v-if="analysisErrors === 0"
        type="secondary"
        size="small"
        @click="download"
      >
        Export to Excel
        <i
          class="el-icon-download"
        />
      </el-button>
    </div>
    <el-tabs
      v-if="analysisErrors === 0"
      v-model="currentTab"
    >
      <el-tab-pane
        label="Results"
        name="results"
      >
        <fmea-report-table
          :requirements="analysis.requirements"
          :failure-modes="analysis.failure_modes"
          :effects="analysis.effects"
          :causes="analysis.causes"
          :controls="analysis.controls"
          :mitigations="analysis.mitigations"
          :occurrence-limit="analysis.occurrence_limit"
          :action-level="analysis.action_level"
          :rpns="rpns"
        />
      </el-tab-pane>
      <el-tab-pane
        label="Next Steps..."
        name="nextsteps"
      >
        <h2>Risk Mitigation using FMEA</h2>
        <p>
          A concept or design failure mode and effect analysis ( CFMEA or DFMEA) is a process designed to identify
          and evaluate potential design risks introduced in a new or improved design.
          This process identifies the effects and outcomes of these failures,
          eliminates or mitigates the failures and provides a design mitigation plan when a solution exists.
        </p>
        <p>
          As described in Tutorial 6- Assessing technical risks, the criticalities of failures are determined using the Risk Priority Number (RPN),
          which is a product of the Severity, Occurrence, and Detection rankings associated with each potential failure.
          A threshold RPN and occurrence limit are set beyond which an intervention/mitigation is needed.
          This enables prioritising risks and proposing suitable follow-up corrective actions to reduce the criticality
          of potential failures. These corrective actions can be in the form of implementing further design controls
          for early risk identification (e.g. sensing) and protection (e.g. device settings).
        </p>
        <h2>Potential Next Steps</h2>
        <p>
          When corrective actions cannot be implemented to eliminate or reduce the RPN below the defined threshold/action level,
          alternative innovative solutions are sought using the QFD/TRIZ process to obtain specific actions for the system
          (e.g. proposed design review, enhanced material properties, measures implemented in other sectors).
          A new QFD/TRIZ analysis (or reviewing an existing one) can be launched from the SI Home page to address these
          specific requirements and risks.
          <br>
          Finally, the detailed Design and Assessment tools in other modules of the DTOcean+ suite can be used to develop detailed designs
          for the concepts created in this Structured Innovation tool and to assess their potential deployment to specific sites.
        </p>
      </el-tab-pane>
    </el-tabs>
    <div
      v-else
      id="error-message"
    >
      <p>
        <i
          class="el-icon-error"
          style="padding-right:10px"
        />Please fix all errors before viewing the FMEA Report.
      </p>
      <p>
        View the errors in the Issues Toolpanel, by clicking the <i class="el-icon-warning-outline" /> icon.
      </p>
    </div>
  </div>
</template>

<script>

import FmeaReportTable from '@/components/FmeaReportTable.vue'
import { Analysis } from '@/service/fmea_analysis.js'

export default {
  name: 'FmeaReport',
  components: {
    FmeaReportTable,
  },
  props: { analysis: { type: Object, required: true } },
  data () {
    return {
      rpns: [],
      currentTab: 'results',
    }
  },
  computed: {
    analysisErrors () {
      return this.analysis.issues.filter(issue => issue.type === 'error').length
    },
  },
  watch: {
    analysis () {
      this.getRpns()
    },
  },
  created () {
    if (this.analysis.id) {
      this.getRpns()
    }
  },
  methods: {
    async getRpns () {
      const rpns = await this.analysis.getRpns()
      this.rpns = rpns
    },
    download () {
      var dl = document.createElement('a')
      Analysis.exportReportToExcel(this.analysis.id).then(data => {
        dl.href = window.URL.createObjectURL(data)
        dl.download = `fmea-${this.analysis.id}-report.xlsx`
        dl.click()
      }).catch(() => {
        this.$message({
          dangerouslyUseHTMLString: true,
          message: '<p>Error exporting the FMEA report to Excel. Please fix all errors before exporting the FMEA report.</p><br><p>View the errors in the Issues Toolpanel, by clicking the <i class="el-icon-warning-outline" /> icon.</p>',
          type: 'error',
        })
      }).finally(() => {
        dl.remove()
      })
    },
  },
}
</script>

<style lang="scss" >
@use '@/variables.scss';
#error-message i {
  color: variables.$error;
  font-size: 1.5em;
}
.report-header {
  display: inline-block;
  text-align: left;
}

.report-header h2{
  display: inline-block;
  padding-right: 20px;
}
</style>
