<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div id="content">
    <div
      id="title_row"
      class="row"
    >
      <h1>Structured Innovation Tool</h1>
    </div>
    <div
      id="description_row"
      class="row"
    >
      <p>
        The Structured Innovation design tool takes a novel approach to the structured innovation process by applying a combination of
        three approaches of Quality Function Deployment (QFD), TRIZ (The Theory of Inventive Problem Solving) and FMEA (Failure, Modes and Effects Analysis)
        to ocean energy projects in one integrated tool. The tool enables a structured approach to address ocean energy engineering complexity where design options are numerous,
        resulting in efficient evolution from concept to commercialisation.
      </p>
    </div>
    <div
      id="button_row"
      class="row"
    >
      <el-button
        type="primary"
        class="home-page-button"
        @click="routeTo({ name: 'QfdList' })"
      >
        <p>Start QFD & TRIZ</p>
        <p>(Concept Creation & Improvement)</p>
      </el-button>
      <el-button
        type="primary"
        class="home-page-button"
        @click="routeTo({ name: 'FmeaList' })"
      >
        <p>Start FMEA</p>
        <p>(Concept/Design Risk Mitigation)</p>
      </el-button>
      <el-button
        type="secondary"
        class="home-page-button"
        @click="routeTo({ name: 'About' })"
      >
        <p>More Info...</p>
      </el-button>
    </div>
    <div
      id="logo_row"
      class="row"
    >
      <a
        id="logo"
        href="https://www.dtoceanplus.eu"
      >
        <img
          src="../assets/dtop.png"
          alt="DTOcean+"
        >
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      visible: false,
    }
  },
  methods: {
    routeTo (path) {
      this.$router.push(path)
    },
  },
}
</script>

<style scoped>
* {
  box-sizing: border-box;
}
.row{
  display: flex;
  justify-content: center;
}

#button_row {
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
  padding: 40px 0px;
}

button.home-page-button {
  font-size: 20px;
  width: 100%;
  line-height: .3;
  margin: 5px 0px;
}

#title_row h1{
  padding-top:30px;
  margin: 20px;
  font-size: 4em;
  text-align: center;
}

#description_row p{
  font-size: 1.5em;
  margin: 20px 10%;
}

#logo_row{
  margin-top: 25px;
  padding: 40px;
}
</style>
