<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="qfd-correlations">
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to define the correlations between each functional requirement by using the dropdown list of pre-defined scale.
      Positive correlation implies that increasing one functional requirement will greatly affect increasing the other, and vice versa.
      Likewise, a negative correlation implies that increasing one functionality will hinder decreasing the other, and vice versa.
      The purpose is to identify areas where trade-off decisions, conflicts, and innovation may be required..
    </el-alert>
    <qfd-correlations-table
      :functional-requirements="analysis.functional_requirements"
      :correlations="analysis.correlations"
      @change="update"
    />
  </div>
</template>

<script>
import QfdCorrelationsTable from '@/components/QfdCorrelationsTable.vue'

export default {
  name: 'QfdCorrelations',
  components: { QfdCorrelationsTable },
  props: {
    analysis: { type: Object, required: true }, // TODO: not sure if props should be declared in router/index.js for each Array, with required set as appropriate for particular route, then v-bind analysis to router-view instead
  },
  methods: {
    update (data) {
      this.analysis.addOrUpdateCorrelation(data)
    },
  },
}
</script>

<style>
</style>
