<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page you are asked to define the name and objective of the analysis. You are also asked to specify the Solution Hierarchy Level.
    </el-alert>
    <h2>Definition of Analysis</h2>
    <qfd-define-table
      :analysis="analysis"
      @update="update"
    />
  </div>
</template>

<script>
import QfdDefineTable from '@/components/QfdDefineTable.vue'

export default {
  name: 'QfdDefine',
  components: { QfdDefineTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    update (id, data) {
      this.analysis.updateAnalysis(data)
    },
  },
}
</script>

<style>
</style>
