<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to define measurable functional requirements to satisfy the customer requirements.
      For each functional requirement, a target value, the direction of improvement (DoI), and the organisational level of difficulties are defined.
    </el-alert>
    <qfd-functional-requirements-table
      :functional-requirements="analysis.functional_requirements"
      @update="update"
      @create="create"
      @del="del"
      @selected="selected"
    />
  </div>
</template>

<script>
import QfdFunctionalRequirementsTable from '@/components/QfdFunctionalRequirementsTable.vue'

export default {
  name: 'QfdFunctionalRequirements',
  components: { QfdFunctionalRequirementsTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    del (id) {
      this.analysis.deleteFunctionalRequirementById(id)
    },
    update (id, data) {
      this.analysis.updateFunctionalRequirementById(id, data)
    },
    create (data) {
      this.analysis.addFunctionalRequirement(data)
    },
    selected (selection) {
      this.$emit('selected', selection)
    },
  },
}

</script>

<style>
</style>
