<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="qfd-impacts">
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to select the impact each functional requirement has on each customer requirement.
      Note that Impact rankings are pre-defined as high, medium, low, and none.
      Thus, a functional requirement with a high ranking has a larger impact on achieving the customer requirement than one ranked low.
      Defining the impacts functional requirements have on the customer needs is key to assessing the most impactful solutions to the designs.
    </el-alert>
    <qfd-impacts-table
      :requirements="analysis.requirements"
      :functional-requirements="analysis.functional_requirements"
      :impacts="analysis.impacts"
      @update="update"
    />
  </div>
</template>

<script>
import QfdImpactsTable from '@/components/QfdImpactsTable.vue'

export default {
  name: 'QfdImpacts',
  components: { QfdImpactsTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    update (data) {
      this.analysis.addOrUpdateImpact(data)
    },
  },
}
</script>

<style>
</style>
