<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="content">
    <h2>List of QFD/TRIZ Analyses</h2>
    <div class="global-operations">
      <el-button
        icon="el-icon-plus"
        @click="handleNewAnalysis"
      >
        New
      </el-button>
      <el-upload
        style="display: inline; margin-left: 10px;"
        action=""
        :http-request="handleUpload"
        :before-upload="validateUpload"
        accept="application/json"
        multiple
        :show-file-list="false"
      >
        <el-button
          icon="el-icon-upload2"
        >
          Import
        </el-button>
      </el-upload>
    </div>
    <div class="table-filter">
      <el-input
        v-model="search"
        size="medium"
        placeholder="Filter by analyses name..."
        style="width: 400px; padding: 10px 0px;"
      />
      <p style="display: inline; padding-left: 10px; font-size: 12px">
        Showing {{ displayedAnalyses }} of {{ analyses.length }}
      </p>
    </div>
    <table-list-analyses
      :filter-string="search"
      :analyses="analyses"
      define-page="QfdDefine"
      @del="del"
      @download="download"
      @filtered="n => (displayedAnalyses = n)"
    >
      <template v-slot:cols>
        <el-table-column
          sortable
          width="1000"
          label="Objective"
          prop="objective"
        />
      </template>
    </table-list-analyses>
  </div>
</template>

<script>

import { getAllAnalyses, Analysis } from '@/service/analysis.js'
import TableListAnalyses from '@/components/TableListAnalyses.vue'

export default {
  name: 'QfdList',
  components: { TableListAnalyses },
  props: {
    siId: { type: String, required: false, default: undefined },
  },
  data () {
    return {
      analyses: [],
      search: '',
      displayedAnalyses: 0,
    }
  },
  watch: {
    analyses () {
      this.search = ''
      this.displayedAnalyses = this.analyses.length
    },
  },
  async created () {
    this.analyses = await getAllAnalyses(this.siId)
  },
  methods: {
    async handleNewAnalysis () {
      const analysis = await Analysis.create(this.siId)
      this.analyses.push(analysis)
      this.$router.push({ name: 'QfdDefine', params: { id: analysis.id } })
    },
    del (id) {
      Analysis.deleteById(id)

      const idx = this.analyses.findIndex((a) => a.id === id)
      if (idx !== -1) {
        this.analyses.splice(idx, 1)
      }
    },
    download (id) {
      var dl = document.createElement('a')
      Analysis.downloadById(id).then(data => {
        dl.href = window.URL.createObjectURL(data)
        dl.download = `qfd-${id}.json`
        dl.click()
      }).finally(() => {
        dl.remove()
      })
    },
    validateUpload (file) {
      const ftype = file.type === 'application/json'
      const fsize = file.size < 2 ** 21

      if (!ftype) {
        this.$message.error('Invalid file format')
      }
      if (!fsize) {
        this.$message.error('File size must be less than 2MiB')
      }
      return ftype && fsize
    },
    handleUpload (file) {
      const fh = new FileReader()
      fh.readAsText(file.file)
      fh.addEventListener('load', () => {
        const data = fh.result
        Analysis.upload(data, this.siId).then(() => {
          getAllAnalyses(this.siId).then(analyses => {
            this.analyses = analyses
          })
        })
      })
    },
  },
}
</script>

<style scoped>

.content {
  padding: 0px 1.5em;
}

.global-operations {
  text-align: left;
  display: inline-block
}

.table-filter {
  padding-left: 10px;
  text-align: right;
  display: inline-block;
}

</style>
