<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to define the customer requirements and their importance.
      A larger importance value indicates a more important requirement for the customer.
      The user can define these or select from a list of relevant data originating from various source within the DTOceanPlus suite of tools,
      such as the solution hierarchy, the Stage Gate tool improvement areas, and existing QFD/TRIZ  or FMEA studies.
    </el-alert>
    <qfd-requirements-table
      :requirements="analysis.requirements"
      @update="update"
      @create="create"
      @del="del"
      @selected="selected"
    />
  </div>
</template>

<script>
import QfdRequirementsTable from '@/components/QfdRequirementsTable.vue'

export default {
  name: 'QfdRequirements',
  components: { QfdRequirementsTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    del (id) {
      this.analysis.deleteRequirementById(id)
    },
    update (id, data) {
      this.analysis.updateRequirementById(id, data)
    },
    create (data) {
      this.analysis.addRequirement(data)
    },
    selected (selection) {
      this.$emit('selected', selection)
    },
  },
}
</script>

<style>
</style>
