<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to describe the current state-of-the-art solutions or designs and the solution values for each functional requirement.
      Each entry captures the state-of-the-art or competitors’ technologies to be compared to the target values proposed.
    </el-alert>
    <qfd-solutions-table
      :solutions="analysis.solutions"
      :achievements="analysis.achievements"
      :functional-requirements="analysis.functional_requirements"
      @updateSolution="updateSolution"
      @updateAchievement="updateAchievement"
      @createSolution="createSolution"
      @addSuggestion="addSuggestion"
      @del="del"
      @selected="selected"
    />
  </div>
</template>

<script>
import QfdSolutionsTable from '@/components/QfdSolutionsTable.vue'

export default {
  name: 'QfdSolutions',
  components: { QfdSolutionsTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    del (id) {
      this.analysis.deleteSolutionById(id)
    },
    updateSolution (id, data) {
      this.analysis.updateSolutionById(id, data)
    },
    updateAchievement (data) {
      this.analysis.addOrUpdateAchievement(data)
    },
    createSolution (data) {
      this.analysis.addSolution(data)
    },
    selected (selection) {
      this.$emit('selected', selection)
    },
    addSuggestion (data, row) {
      const desc = data.description
      if (desc) {
        const sol = (row.id !== undefined) ? this.analysis.updateSolutionById(row.id, { description: desc }) : this.analysis.addSolution({ description: desc })
        sol.then(s => this.updateAchievements(data.achievements, this.analysis.reverseResolveId('solution', s.id)))
      } else {
        this.updateAchievements(data.achievements, row.id)
      }
    },
    updateAchievements (achievements, solutionId) {
      if (achievements) {
        Object.entries(achievements).forEach(([frId, val]) => {
          this.updateAchievement({ solution_id: solutionId, functional_requirement_id: this.analysis.reverseResolveId('functional_requirement', frId), value: val })
        })
      }
    },
  },
}
</script>

<style>
</style>
