<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-alert
      type="info"
      show-icon
      :closable="false"
    >
      On this page, you are asked to generalise the contradictive functional requirements into relevant TRIZ generic contradictions
      (known in the tool as TRIZ classes) using the dropdown list. For each functional requirement, select all the relevant TRIZ classes that describe each functional requirement.
      <br>The aim is to encourage the user to look for existing solutions to similar problems (or conflicting requirements) at different scales and times;
      allowing the user to think of alternative, impactful solutions by reference to the TRIZ toolkit – thinking of past,
      present and future inventions that meet a similar problem, or perhaps with a difference of scale – micro or macro.
    </el-alert>
    <qfd-triz-table
      :functional-requirements="analysis.functional_requirements"
      @change="update"
    />
  </div>
</template>

<script>
import QfdTrizTable from '@/components/QfdTrizTable.vue'

export default {
  name: 'QfdTriz',
  components: { QfdTrizTable },
  props: {
    analysis: { type: Object, required: true },
  },
  methods: {
    update (id, data) {
      this.analysis.updateFunctionalRequirementById(id, data)
    },
  },
}
</script>

<style>
</style>
