<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-table
      id="fmea-define-table"
      :data="tdata"
      :show-header="false"
    >
      <el-table-column
        prop="rowName"
      />
      <el-table-column
        v-slot="{ row }"
      >
        <el-input
          v-if="row.type === 'text'"
          :id="row.attr + '-' + row.id"
          v-model="row['field']"
          @input="handleInput(row,row['field'])"
        />
        <numeric-input
          v-if="row.type === 'numeric'"
          :id="row.attr + '-' + row.id"
          v-model="row['field']"
          v-bind="$attrs"
          @input="handleInput(row,row['field'])"
        />
        <el-select
          v-if="row.type === 'select'"
          :id="row.attr + '-' + row.id"
          v-model="row['field']"
          @change="handleInput(row, row['field'])"
        >
          <el-option
            v-for="option in occurrence_limit_options"
            :key="option.value"
            :label="option.label"
            :value="option.value"
            v-bind="$attrs"
          />
        </el-select>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import declarations from '@/declarations.js'
import NumericInput from '@/components/NumericInput.vue'

export default {
  name: 'FmeaDefineTable',
  components: { NumericInput },
  props: {
    analysis: { type: Object, required: true },
  },
  computed: {
    tdata () {
      return [
        { field: this.analysis.name, rowName: 'Name', attr: 'name', id: this.analysis.id, type: 'text' },
        { field: this.analysis.action_level, rowName: 'Action Level', attr: 'action_level', id: this.analysis.id, type: 'numeric' },
        { field: this.analysis.occurrence_limit, rowName: 'Occurrence Limit', attr: 'occurrence_limit', id: this.analysis.id, type: 'select' },
      ]
    },
  },
  created () {
    this.occurrence_limit_options = declarations.occurrence_limit.map(s => ({ ...s, label: `${s.value}. ${s.label}` }))
  },
  methods: {
    handleInput (row, newValue) {
      this.$emit('update', row.id, { [row.attr]: newValue })
    },
  },
}
</script>

<style scoped>

</style>
