<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-table
    id="fmea-report-table"
    :data="tdata"
    :cell-style="{ 'vertical-align': 'top' }"
  >
    <el-table-column
      label="Requirement"
      prop="requirement_description"
      :sortable="true"
    />
    <el-table-column
      label="Failure Mode"
      prop="failure_mode_description"
      :sortable="true"
    />
    <el-table-column
      label="Effect"
      prop="effect_description"
      :sortable="true"
    />
    <el-table-column
      prop="unmitigated_severity"
      :sortable="true"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Severity"
        >
          <span>SEV</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      label="Cause"
      prop="cause_description"
      :sortable="true"
    />
    <el-table-column
      prop="unmitigated_occurrence"
      :sortable="true"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Occurrence"
        >
          <span>OCC</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      label="Design control"
      prop="control_description"
      :sortable="true"
    />
    <el-table-column
      prop="unmitigated_detection"
      :sortable="true"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Detection"
        >
          <span>DET</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      label="RPN"
      prop="rpn"
      :sortable="true"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Risk Priority Number"
        >
          <span>RPN</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      label="Mitigation"
      prop="description"
      :sortable="true"
      min-width="51"
    />
    <el-table-column
      prop="severity"
      :sortable="true"
      min-width="40"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Mitigated Severity"
        >
          <span>mSEV</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      prop="occurrence"
      :sortable="true"
      min-width="40"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Mitigated Occurrence"
        >
          <span>mOCC</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      prop="detection"
      :sortable="true"
      min-width="40"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Mitigated Detection"
        >
          <span>mDET</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      prop="rrpn"
      :sortable="true"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Mitigated Risk Priority Number"
        >
          <span>mRPN</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      v-slot="{ row }"
      label="Status"
      :filters="[{text: 'Success', value: 'success'},{text: 'Warning', value: 'warning'},{text: 'Error', value: 'error'}]"
      :filter-method="filterStatus"
    >
      <el-tooltip
        placement="right"
        :content="statusMessage(row)"
      >
        <i
          :class="'status-icon el-icon-' + row.status"
        />
      </el-tooltip>
    </el-table-column>
  </el-table>
</template>

<script>
import declarations from '@/declarations.js'
export default {
  name: 'FmeaReportTable',
  props: {
    requirements: { type: Array, required: true },
    failureModes: { type: Array, required: true },
    effects: { type: Array, required: true },
    causes: { type: Array, required: true },
    controls: { type: Array, required: true },
    rpns: { type: Array, required: true },
    rrpns: { type: Array, required: true },
    mitigations: { type: Array, required: true },
    occurrenceLimit: { type: Number, required: true },
    actionLevel: { type: Number, required: true },
  },
  data () {
    return {
      severity_options: declarations.severity.map(s => ({ ...s, label: `${s.value}. ${s.label}` })),
      occurrence_options: declarations.occurrence_limit.map(s => ({ ...s, label: `${s.value}. ${s.label}` })),
      detection_options: declarations.detection.map(s => ({ ...s, label: `${s.value}. ${s.label}` })),
    }
  },
  computed: {
    requirementMap () {
      return this.idMap(this.requirements)
    },
    failureModeMap () {
      return this.idMap(this.failureModes)
    },
    effectMap () {
      return this.idMap(this.effects)
    },
    causeMap () {
      return this.idMap(this.causes)
    },
    controlMap () {
      return this.idMap(this.controls)
    },
    mitigationMap () { // Effect / Cause / Control IDs
      return this.mitigations.reduce((a, v) => {
        const effect = a[v.effect_id] || {}
        const cause = effect[v.cause_id] || {}
        cause[v.control_id] = v
        effect[v.cause_id] = cause
        return { ...a, [v.effect_id]: effect }
      }, {})
    },
    tdata () {
      return this.rpns.reduce((a, v) => {
        const effect = this.effectMap[v.effect_id]
        const failureMode = this.failureModeMap[effect.failure_mode_id]
        const cause = this.causeMap[v.cause_id]
        const control = this.controlMap[v.control_id]
        const mitigation = ((this.mitigationMap[v.effect_id] || {})[v.cause_id] || {})[v.control_id] || {}
        var r = {
          ...v,
          ...mitigation,
          requirement_description: this.requirementMap[failureMode.requirement_id].description,
          failure_mode_description: failureMode.description,
          effect_description: effect.description,
          unmitigated_severity: effect.severity,
          cause_description: cause.description,
          unmitigated_occurrence: cause.occurrence,
          control_description: control.description,
          unmitigated_detection: control.detection,
          status: 'success',
        }
        // TODO: Consider if rRPN should come from backend: would then require frontend to match each rRPN to existing mitigations from analysis.mitigations
        if (mitigation.severity != null &&
            mitigation.occurrence != null &&
            mitigation.detection != null) {
          r.rrpn = mitigation.severity * mitigation.occurrence * mitigation.detection
        }

        var occurrenceStatus = mitigation.occurrence === undefined ? r.unmitigated_occurrence : mitigation.occurrence
        var rpnStatus = r.rrpn === undefined ? r.rpn : r.rrpn

        if (occurrenceStatus >= this.occurrenceLimit) { r.status = 'warning' }
        if (rpnStatus >= this.actionLevel) { r.status = 'error' }

        a.push(r)
        return a
      }, [])
    },
  },
  methods: {
    idMap (arr) {
      return arr.reduce((a, v) => ({ ...a, [v.id]: v }), {})
    },
    handleDelete (row) {
      if (row.id !== undefined) {
        this.$emit('del', row.id)
      }
    },
    handleInput (row, field, newValue) {
      if (row.id !== undefined) {
        this.$emit('update', row.id, { [field]: newValue })
      } else {
        this.$emit('create', { [field]: newValue, effect_id: row.effect_id, cause_id: row.cause_id, control_id: row.control_id })
      }
    },
    filterStatus (value, row) {
      return value === row.status
    },
    statusMessage (row) {
      const statusMessages = {
        success: 'RPN and Occurrence thresholds met',
        warning: 'Occurrence threshold exceeded',
        error: 'RPN threshold exceeded',
      }
      return statusMessages[row.status]
    },
  },
}
</script>

<style scoped lang="scss">
@use '@/variables.scss';

.status-icon {
  font-size: 1.5em;
}

.el-icon-success{
  color: green;
}
.el-icon-warning{
  color: variables.$warning;
}
.el-icon-error{
  color: variables.$error;
}

</style>
