<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <table-multi-add-delete
    id="fmea-design-controls-table"
    :data="tdata"
    delete-text="Delete this Design Control"
    empty-text="Please define atleast one Cause for a Failure Mode."
    @delete="handleDelete"
    @cell-focus="changeSelection"
  >
    <el-table-column
      label="Requirement"
      prop="requirement_description"
    />
    <el-table-column
      label="Failure Mode"
      prop="failure_mode_description"
    />
    <el-table-column
      label="Cause"
      prop="cause_description"
    />
    <table-column-input
      label="Design Control"
      model-attr="description"
      min-width="45"
      :id-generator="idGenerator"
      @input="handleInput"
    />
    <table-column-select
      label="Detection"
      model-attr="detection"
      :options="detection_options"
      min-width="40"
      :id-generator="idGenerator"
      @change="handleInput"
    />
  </table-multi-add-delete>
</template>

<script>
import declarations from '@/declarations.js'
import TableMultiAddDelete from '@/components/TableMultiAddDelete.vue'
import TableColumnInput from '@/components/TableColumnInput.vue'
import TableColumnSelect from '@/components/TableColumnSelect.vue'

export default {
  name: 'FmeaDesignControlsTable',
  components: { TableMultiAddDelete, TableColumnInput, TableColumnSelect },
  props: {
    requirements: { type: Array, required: true },
    failureModes: { type: Array, required: true },
    causes: { type: Array, required: true },
    controls: { type: Array, required: true },
  },
  data () {
    return {
      detection_options: declarations.detection.map(s => ({ ...s, label: `${s.value}. ${s.label}` })),
    }
  },
  computed: {
    tdata () {
      return [
        this.requirements.map(req => ({ requirement_description: req.description, id: req.id })),
        this.failureModes.map(fm => ({ id: fm.id, fmid: fm.id, failure_mode_description: fm.description, parent_col_id: fm.requirement_id })),
        this.causes.map(cause => ({ id: cause.id, cause_description: cause.description, parent_col_id: cause.failure_mode_id })),
        this.controls.map(dc => ({ ...dc, parent_col_id: dc.cause_id })),
      ]
    },
  },
  methods: {
    changeSelection (row, column) {
      this.$emit(
        'selected',
        {
          type: 'design_control',
          field: column.property,
          data: row,
          is_new: row.id === undefined,
          identifier: { id: this.$parent.analysis.resolveId('control', row.id) },
          context: { parent_id: row.parent_col_id },
          applyFunction: (data) => {
            this.handleInput(row, column.property, data.description)
          },
        }
      )
    },
    handleDelete (row) {
      if (row.id !== undefined) {
        this.$emit('del', row.id)
      }
    },
    handleInput (row, field, newValue) {
      if (row.id !== undefined) {
        this.$emit('update', row.id, { [field]: newValue })
      } else {
        this.$emit('create', { [field]: newValue, cause_id: row.parent_col_id, failure_mode_id: row.fmid })
      }
    },
    idGenerator (row, attr) {
      // Avoid assigning a possible duplicate ID to an undefined row
      return row.id ? attr + '-' + row.id : null
    },
  },
}
</script>
