<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-table
    id="fmea-mitigations-table"
    v-loading="refreshing"
    :data="tdata"
    :empty-text="emptyText"
    :cell-style="{ 'vertical-align': 'top' }"
  >
    <el-table-column
      label="Requirement"
      prop="requirement_description"
    />
    <el-table-column
      label="Failure Mode"
      prop="failure_mode_description"
    />
    <el-table-column
      label="Effect"
      prop="effect_description"
    />
    <el-table-column
      prop="unmitigated_severity"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Severity"
        >
          <span>SEV</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      label="Cause"
      prop="cause_description"
    />
    <el-table-column
      prop="unmitigated_occurrence"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Occurrence"
        >
          <span>OCC</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      label="Design control"
      prop="control_description"
    />
    <el-table-column
      prop="unmitigated_detection"
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Detection"
        >
          <span>DET</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <el-table-column
      prop="rpn"
      sortable
    >
      <template v-slot:header>
        <el-tooltip
          placement="top"
          content="Risk Priority Number"
        >
          <span>RPN</span>
        </el-tooltip>
      </template>
    </el-table-column>
    <table-column-input
      label="Mitigation"
      model-attr="description"
      min-width="100"
      @input="handleInput"
    />
    <table-column-select
      label="mSEV"
      tooltip="Mitigated severity"
      model-attr="severity"
      min-width="70"
      :options="severity_options"
      :id-generator="idGenerator"
      @change="handleInput"
    >
      <template v-slot:header-tooltip="slotProps">
        <el-tooltip
          placement="top"
          content="Mitigated Severity"
        >
          <span>{{ slotProps.label }}</span>
        </el-tooltip>
      </template>
    </table-column-select>
    <table-column-select
      label="mOCC"
      model-attr="occurrence"
      min-width="70"
      :options="occurrence_options"
      :id-generator="idGenerator"
      @change="handleInput"
    >
      <template v-slot:header-tooltip="slotProps">
        <el-tooltip
          placement="top"
          content="Mitigated Occurrence"
        >
          <span>{{ slotProps.label }}</span>
        </el-tooltip>
      </template>
    </table-column-select>
    <table-column-select
      label="mDET"
      model-attr="detection"
      min-width="70"
      :options="detection_options"
      :id-generator="idGenerator"
      @change="handleInput"
    >
      <template v-slot:header-tooltip="slotProps">
        <el-tooltip
          placement="top"
          content="Mitigated Detection"
        >
          <span>{{ slotProps.label }}</span>
        </el-tooltip>
      </template>
    </table-column-select>
  </el-table>
</template>

<script>
import declarations from '@/declarations.js'
import TableColumnInput from '@/components/TableColumnInput.vue'
import TableColumnSelect from '@/components/TableColumnSelect.vue'
export default {
  name: 'FmeaMitigationsTable',
  components: { TableColumnInput, TableColumnSelect },
  props: {
    requirements: { type: Array, required: true },
    failureModes: { type: Array, required: true },
    effects: { type: Array, required: true },
    causes: { type: Array, required: true },
    controls: { type: Array, required: true },
    rpns: { type: Array, required: true },
    mitigations: { type: Array, required: true },
  },
  data () {
    return {
      severity_options: declarations.severity.map(s => ({ ...s, label: `${s.value}. ${s.label}` })),
      occurrence_options: declarations.occurrence_limit.map(s => ({ ...s, label: `${s.value}. ${s.label}` })),
      detection_options: declarations.detection.map(s => ({ ...s, label: `${s.value}. ${s.label}` })),

      refreshing: true,
      emptyText: 'Loading...',
    }
  },
  computed: {
    requirementMap () {
      return this.idMap(this.requirements)
    },
    failureModeMap () {
      return this.idMap(this.failureModes)
    },
    effectMap () {
      return this.idMap(this.effects)
    },
    causeMap () {
      return this.idMap(this.causes)
    },
    controlMap () {
      return this.idMap(this.controls)
    },
    mitigationMap () { // Effect / Cause / Control IDs
      return this.mitigations.reduce((a, v) => {
        const effect = a[v.effect_id] || {}
        const cause = effect[v.cause_id] || {}
        cause[v.control_id] = v
        effect[v.cause_id] = cause
        return { ...a, [v.effect_id]: effect }
      }, {})
    },
    tdata () {
      return this.rpns.reduce((a, v) => {
        if (v.requires_mitigation) {
          const effect = this.effectMap[v.effect_id]
          const failureMode = this.failureModeMap[effect.failure_mode_id]
          const cause = this.causeMap[v.cause_id]
          const control = this.controlMap[v.control_id]
          const mitigation = ((this.mitigationMap[v.effect_id] || {})[v.cause_id] || {})[v.control_id] || {}
          console.log([failureMode, effect, cause, control])
          a.push({
            ...v,
            ...mitigation,
            requirement_description: this.requirementMap[failureMode.requirement_id].description,
            failure_mode_description: failureMode.description,
            effect_description: effect.description,
            unmitigated_severity: effect.severity,
            cause_description: cause.description,
            unmitigated_occurrence: cause.occurrence,
            control_description: control.description,
            unmitigated_detection: control.detection,
          })
        }
        return a
      }, [])
    },
  },
  watch: {
    rpns () {
      // TODO: This is likely a sub-optimal solution. Need to consider this approach a bit more.
      this.refreshing = false
      this.setEmptyTableText()
    },
  },
  methods: {
    idMap (arr) {
      return arr.reduce((a, v) => ({ ...a, [v.id]: v }), {})
    },
    handleDelete (row) {
      if (row.id !== undefined) {
        this.$emit('del', row.id)
      }
    },
    handleInput (row, field, newValue) {
      if (row.id !== undefined) {
        this.$emit('update', row.id, { [field]: newValue })
      } else {
        this.$emit('create', { [field]: newValue, effect_id: row.effect_id, cause_id: row.cause_id, control_id: row.control_id })
      }
    },
    idGenerator (row, attr) {
      // Avoid assigning a possible duplicate ID to an undefined row
      return row.id ? attr + '-' + row.id : null
    },
    setEmptyTableText () {
      this.emptyText = this.rpns.length === 0 ? 'There are no fully defined Failure Modes.' : 'None of the defined Failure Modes require mitigation.'
    },
  },
}
</script>
