<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <table-multi-add-delete
    id="fmea-failure-modes-table"
    :data="tdata"
    delete-text="Delete this failure mode"
    empty-text="Please define at least one Design Requirement."
    @delete="handleDelete"
    @cell-focus="changeSelection"
  >
    <el-table-column
      label="Requirement"
      prop="requirement_description"
    />
    <table-column-input
      label="Failure Mode"
      model-attr="description"
      min-width="31"
      :id-generator="idGenerator"
      @input="handleInput"
    />
  </table-multi-add-delete>
</template>

<script>
import TableMultiAddDelete from '@/components/TableMultiAddDelete.vue'
import TableColumnInput from '@/components/TableColumnInput.vue'
export default {
  name: 'FmeaFailureModesTable',
  components: { TableMultiAddDelete, TableColumnInput },
  props: {
    requirements: { type: Array, required: true },
    failureModes: { type: Array, required: true },
  },
  computed: {
    tdata () {
      return [
        this.requirements.map(req => ({ requirement_description: req.description, id: req.id })),
        this.failureModes.map(fm => ({ ...fm, parent_col_id: fm.requirement_id })),
      ]
    },
  },
  methods: {
    changeSelection (row, column) {
      this.$emit(
        'selected',
        {
          type: 'failure_mode',
          field: column.property,
          data: row,
          is_new: row.id === undefined,
          identifier: { id: this.$parent.analysis.resolveId('failure_mode', row.id) },
          context: { parent_id: row.parent_col_id },
          applyFunction: (data) => {
            this.handleInput(row, column.property, data.description)
          },
        }
      )
    },
    handleDelete (row) {
      if (row.id !== undefined) {
        this.$emit('del', row.id)
      }
    },
    handleInput (row, field, newValue) {
      if (row.id !== undefined) {
        this.$emit('update', row.id, { [field]: newValue })
      } else {
        this.$emit('create', { [field]: newValue, requirement_id: row.parent_col_id })
      }
    },
    idGenerator (row, attr) {
      // Avoid assigning a possible duplicate ID to an undefined row
      return row.id ? attr + '-' + row.id : null
    },
  },
}
</script>
