<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div style="padding-top: 10px">
    <el-button
      v-show="prev"
      id="prev-btn"
      type="secondary"
      @click="routeTo(prev)"
    >
      Previous
    </el-button>
    <el-button
      v-show="next"
      id="next-btn"
      type="primary"
      @click="routeTo(next)"
    >
      Next
    </el-button>
  </div>
</template>

<script>
export default {
  name: 'NavButtons',
  props: { steps: { type: Array, required: true } },
  computed: {
    currentIndex () {
      return this.steps.findIndex(r => r.name === this.$route.name) // TODO: change to use fullPath
    },
    prev () {
      return this.steps[this.currentIndex - 1]
    },
    next () {
      return this.steps[this.currentIndex + 1]
    },
  },
  methods: {
    routeTo (path) {
      this.$router.push(path)
    },
  },
}
</script>
