<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-input
    :id="id"
    v-model="valueBuffer"
    :class="[invalid ? 'invalid': '']"
    v-bind="$attrs"
    @input="handleInput"
  >
    <template
      v-if="controls"
      slot="prepend"
    >
      <el-button
        id="minus-button"
        icon="el-icon-minus"
        tabindex="-1"
        @click="handleClickMinus"
      />
    </template>
    <template
      v-if="controls"
      slot="append"
    >
      <el-button
        id="plus-button"
        icon="el-icon-plus"
        tabindex="-1"
        @click="handleClickPlus"
      />
    </template>
  </el-input>
</template>
<script>
export default {
  name: 'NumericInput',
  props: {
    value: { type: [Number, String], default: '' },
    step: { type: Number, default: 1 },
    controls: { type: Boolean, default: true },
    nonNegative: { type: Boolean, default: false },
    strictPositive: { type: Boolean, default: false },
    integer: { type: Boolean, default: false },
    id: { type: String, required: false, default: '' },
  },
  data () {
    return {
      valueBuffer: this.value,
      invalid: false,
    }
  },
  watch: {
    value () {
      this.valueBuffer = this.value
    },
  },
  methods: {
    handleClickPlus () {
      // need to cast to Number or 3 (+) becomes 31
      if (this.value === '') {
        this.validate('1')
      } else {
        this.validate(Number(this.value) + this.step)
      }
    },
    handleClickMinus () {
      if (this.value === '') {
        this.validate('-1')
      } else {
        this.validate(Number(this.value) - this.step)
      }
    },
    handleInput (v) {
      clearTimeout(this.inputTimer)
      // If the value is a minus sign on its own, wait a second before
      // validating so that the user can enter a digit.
      if (v === '-') {
        this.inputTimer = setTimeout(() => { this.setInvalid() }, 1000)
      } else {
        this.validate(v)
      }
    },
    setInvalid () {
      clearTimeout(this.invalidTimer)
      this.invalid = true
      this.invalidTimer = setTimeout(() => { this.invalid = false }, 500)
      this.valueBuffer = this.value
    },
    validate (v) {
      v = Number(v)
      if (!isFinite(v)) {
        // Is either not a number at all, or is non-finite
        // (which of those NaN falls under is your decision)
        this.setInvalid()
        return false
      }

      if ((this.nonNegative || this.strictPositive) && v < 0) {
        // Failed non-negative test
        this.setInvalid()
        return false
      }

      if (this.strictPositive && v === 0) {
        // Failed non-zero
        this.setInvalid()
        return false
      }

      if (this.integer && !Number.isInteger(v)) {
        // Failed is-integer test
        this.setInvalid()
        return false
      }

      this.invalid = false
      this.$emit('input', v === '' ? null : v)
      return true
    },
  },
}
</script>
<style scoped=True>
.invalid ::v-deep .el-input__inner{
  border-color: red;
}
::v-deep .el-input__inner {
  text-align: center;
}

::v-deep .el-button {
  width: 1em;
}

::v-deep .el-input-group__prepend .el-button{
  margin: -10px -2em;
}

::v-deep .el-input-group__append .el-button{
  margin: -10px -2em;
}
</style>
