<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-table
    id="qfd-correlations-table"
    :data="tdata"
    style="width: 100%"
    empty-text="Please enter atleast one Functional Requirement."
  >
    <el-table-column
      fixed
      label=""
      prop="functional_requirement_1"
      :formatter="formatFunctionalRequirement"
      :width="functionalRequirements.length > 0 ? '180' : ''"
    />
    <el-table-column
      v-for="fr2 in functionalRequirements"
      :key="fr2.id"
      v-slot="{ row }"
      :label="fr2.description"
      width="150"
    >
      <el-select
        v-model="row[fr2.id]"
        :disabled="noSelfCorrelation(row.functional_requirement_1, fr2.id)"
        :placeholder="noSelfCorrelation(row.functional_requirement_1, fr2.id) ? '' : undefined"
        @change="handleChange(row.functional_requirement_1, fr2.id, row[fr2.id])"
      >
        <el-option
          v-for="(option,idx) in correlation_options"
          :id="'option' + idx"
          :key="option.value"
          :label="option.label"
          :value="option.value"
        />
      </el-select>
    </el-table-column>
  </el-table>
</template>

<script>
import declarations from '@/declarations.js'
export default {
  name: 'QfdCorrelationsTable',
  props: {
    functionalRequirements: { type: Array, required: true },
    correlations: { type: Array, required: true },
  },
  computed: {
    functionalRequirementsMap () {
      return Object.fromEntries(this.functionalRequirements.map(fr => [fr.id, fr.description]))
    },
    corrmap () {
      const corrs = {}
      this.correlations.forEach((corr) => {
        const fr1 = corr.functional_requirement_1_id
        const fr2 = corr.functional_requirement_2_id
        corrs[fr1] = {
          [fr2]: corr.correlation,
          ...corrs[fr1],
          [fr1]: null,
        }
        corrs[fr2] = {
          [fr1]: corr.correlation,
          ...corrs[fr2],
          [fr2]: null,
        }
      })
      return corrs
    },
    tdata () {
      return this.functionalRequirements.map(fr => ({ functional_requirement_1: fr.id, ...this.corrmap[fr.id] }))
    },
  },
  created () {
    this.correlation_options = declarations.correlation
  },
  methods: {
    handleChange (fr1, fr2, newValue) {
      if (fr1 > fr2) {
        [fr1, fr2] = [fr2, fr1]
      }
      this.$emit('change', { functional_requirement_1_id: fr1, functional_requirement_2_id: fr2, correlation: newValue })
    },
    formatFunctionalRequirement (row, column, cellValue) { // eslint-disable-line no-unused-vars
      return this.functionalRequirementsMap[cellValue]
    },
    noSelfCorrelation (frRow, frCol) {
      // A functional requirement cannot be correlated with itself
      return frRow === frCol
    },
  },
}
</script>
