<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-table
      id="qfd-define-table"
      :data="tdata"
      :show-header="false"
    >
      <el-table-column>
        <template v-slot="{ row }">
          <el-tooltip
            placement="right"
            width="200"
            trigger="click"
            :disabled="row.tooltip === undefined ? true: false"
            style="margin-top: 10px;word-break: normal;width: 200px"
          >
            <div
              slot="content"
              style="width:400px"
            >
              {{ row.tooltip }}
            </div>
            <span>{{ row.rowName }}</span>
          </el-tooltip>
        </template>
      </el-table-column>
      <el-table-column
        v-slot="{ row }"
      >
        <el-input
          v-if="row.type === 'text'"
          :id="row.attr + '-' + row.id"
          v-model="row['field']"
          @input="handleInput(row,row['field'])"
        />
        <numeric-input
          v-if="row.type === 'numeric'"
          :id="row.attr + '-' + row.id"
          v-model="row['field']"
          strict-positive
          integer
          v-bind="$attrs"
          @input="handleInput(row,row['field'])"
        />
        <el-select
          v-if="row.type === 'select'"
          :id="row.attr + '-' + row.id"
          v-model="row['field']"
          @change="handleInput(row, row['field'])"
        >
          <el-option
            v-for="option in occurrence_limit_options"
            :key="option.value"
            :label="option.label"
            :value="option.value"
            v-bind="$attrs"
          />
        </el-select>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import NumericInput from '@/components/NumericInput.vue'

export default {
  name: 'QfdDefineTable',
  components: { NumericInput },
  props: {
    analysis: { type: Object, required: true },
  },
  computed: {
    tdata () {
      return [
        { field: this.analysis.name, rowName: 'Name', attr: 'name', id: this.analysis.id, type: 'text' },
        { field: this.analysis.objective, rowName: 'Objective', attr: 'objective', id: this.analysis.id, type: 'text' },
        {
          field: this.analysis.solution_hierarchy_level,
          rowName: 'Solution Hierarchy Level',
          attr: 'solution_hierarchy_level',
          id: this.analysis.id,
          type: 'numeric',
          tooltip: 'The solution hierarchy is a multi-level suggestion list of prefilled potential solutions for ocean energy systems that start with the energy trilemma as requirements (level 1): delivering secure, affordable, and environmentally sustainable energy; and lists more detailed potential solutions for each requirement and functional requirement.',
        },
      ]
    },
  },
  methods: {
    handleInput (row, newValue) {
      this.$emit('update', row.id, { [row.attr]: newValue })
    },
  },
}
</script>

<style scoped>

</style>
