<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="deviation-table">
    <el-table :data="summaries">
      <el-table-column
        label="Functional Requirement"
        prop="description"
        :sortable="true"
      />
      <el-table-column
        label="Importance"
        prop="importance"
        :sortable="true"
      />
      <el-table-column
        label="Organisational Impact"
        prop="organisational_impact"
        :sortable="true"
      />
      <el-table-column
        label="Target"
        prop="target"
        :formatter="format_number"
        :sortable="true"
      />
      <el-table-column
        label="Best Achieved"
        prop="best_achieved"
        :formatter="format_number"
        :sortable="true"
      />
      <el-table-column
        label="Worst Achieved"
        prop="worst_achieved"
        :formatter="format_number"
        :sortable="true"
      />
      <el-table-column
        label="Solutions Achieving"
        prop="achieved_by"
        :sortable="true"
      />
      <el-table-column
        label="Solutions Missing"
        prop="missed_by"
        :sortable="true"
      />
    </el-table>
  </div>
</template>

<script>

export default {

  props: {
    functionalRequirements: { type: Array, required: true },
    functionalRequirementSummaries: { type: Array, required: true },
  },

  data () {
    return {

    }
  },

  computed: {
    fr_id_map () {
      return Object.fromEntries(this.functionalRequirements.map(fr => [fr.id, fr]))
    },

    summaries () {
      return this.functionalRequirementSummaries.map(
        x => ({
          description: `${this.fr_id_map[x.functional_requirement_id].description} (${x.units})`,
          target: this.fr_id_map[x.functional_requirement_id].target,
          ...x,
        })
      )
    },

  },

  methods: {
    format_number (row, column, cellValue) {
      var out

      if ((typeof cellValue === 'undefined') | (cellValue == null)) {
        out = '-'
      } else {
        out = cellValue.toLocaleString(undefined, { maximumFractionDigits: 2 })
      }
      return out
    },
  },

}

</script>
