<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <table-add-delete
    id="qfd-functional-requirements-table"
    ref="blah"
    :data="functionalRequirements"
    delete-text="Delete this functional requirement"
    @delete="handleDelete"
    @cell-focus="changeSelection"
  >
    <table-column-input
      label="Description"
      model-attr="description"
      controls="false"
      @input="handleInput"
    />
    <el-table-column
      property="direction"
      :min-width="13"
    >
      <template v-slot:header>
        <el-tooltip
          placement="right"
        >
          <div slot="content">
            Direction of Improvement indicates <br>whether an increase or decrease in <br>the target value is desirable.
          </div>
          <span>DoI</span>
        </el-tooltip>
      </template>
      <template v-slot:default="{ row }">
        <el-button
          :id="'direction-' + row.id"
          :type="row.direction ? 'primary' : 'info'"
          @click="toggleDoI(row)"
        >
          <i :class="row.direction === -1 ? 'el-icon-bottom-right' : 'el-icon-top-right'" />
        </el-button>
      </template>
    </el-table-column>
    <table-column-numeric-input
      label="Target value"
      model-attr="target"
      min-width="31"
      @input="handleInput"
    />
    <table-column-input
      label="Units"
      model-attr="units"
      min-width="31"
      @input="handleInput"
    />
    <table-column-select
      label="Engineering difficulty"
      model-attr="engineering_difficulty"
      :options="difficulty_options"
      min-width="20"
      @change="handleInput"
    />
    <table-column-select
      label="Delivery difficulty"
      model-attr="delivery_difficulty"
      :options="difficulty_options"
      min-width="20"
      @change="handleInput"
    />
  </table-add-delete>
</template>

<script>

import declarations from '@/declarations.js'
import TableAddDelete from '@/components/TableAddDelete.vue'
import TableColumnInput from '@/components/TableColumnInput.vue'
import TableColumnNumericInput from '@/components/TableColumnNumericInput.vue'
import TableColumnSelect from '@/components/TableColumnSelect.vue'

export default {
  name: 'QfdFunctionalRequirementsTable',
  components: { TableAddDelete, TableColumnSelect, TableColumnInput, TableColumnNumericInput },
  props: {
    functionalRequirements: { type: Array, required: true },
  },
  data () {
    return {
      difficulty_options: declarations.difficulty,
    }
  },
  methods: {
    changeSelection (row, column) {
      this.$emit(
        'selected',
        {
          type: 'functional_requirement',
          field: column.property,
          data: row,
          is_new: row.id === undefined,
          identifier: { id: this.$parent.analysis.resolveId('functional_requirement', row.id) },
          applyFunction: (data) => {
            this.sendUpdate(this.$parent.analysis.reverseResolveId('functional_requirement', row.id), data)
          }, // TODO: Hack alert! Shouldn't really be accessing the parent
        }
      )
    },
    sendUpdate (id, data) {
      if (id !== undefined) {
        this.$emit('update', id, data)
      } else {
        this.$emit('create', data)
      }
    },
    handleDelete (row) {
      if (row.id !== undefined) {
        this.$emit('del', row.id)
      }
    },
    handleInput (row, field, newValue) {
      this.sendUpdate(row.id, { [field]: newValue })
    },
    toggleDoI (row) {
      // Toggle 1 for 'up' and -1 for 'down'
      const newValue = row.direction === 1 ? -1 : 1
      this.handleInput(row, 'direction', newValue)
    },
  },
}
</script>
