<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-table
    id="qfd-impacts-table"
    :data="tdata"
    style="width: 100%"
    empty-text="Please define atleast one Customer Requirement and one Functional Requirment."
  >
    <el-table-column
      fixed
      label=""
      prop="requirement"
      :width="requirements.length > 0 ? '180': ''"
      :formatter="formatRequirement"
    />
    <table-column-select
      v-for="fr in functionalRequirements"
      :key="fr.id"
      :label="fr.description"
      :model-attr="fr.id.toString()"
      :id-generator="row => 'impact-' + fr.id + '-' + row.requirement"
      :options="impact_options"
      @change="handleChange"
    />
  </el-table>
</template>

<script>
import declarations from '@/declarations.js'
import TableColumnSelect from '@/components/TableColumnSelect.vue'
export default {
  name: 'QfdImpactsTable',
  components: { TableColumnSelect },
  props: {
    requirements: { type: Array, required: true },
    functionalRequirements: { type: Array, required: true },
    impacts: { type: Array, required: true },
  },
  computed: {
    requirementsMap () {
      return Object.fromEntries(this.requirements.map(r => [r.id, r.description]))
    },
    impmap () {
      const impacts = {}
      this.impacts.forEach((impact) => {
        const functionalRequirement = impact.functional_requirement_id
        const requirement = impact.requirement_id
        const value = impact.impact
        impacts[requirement] = { [functionalRequirement]: value, ...impacts[requirement] }
      })
      return impacts
    },
    tdata () {
      return this.requirements.map(req => ({ requirement: req.id, ...this.impmap[req.id] }))
    },
  },
  created () {
    this.impact_options = declarations.impact
  },
  methods: {
    formatRequirement (row, column, cellValue) { // eslint-disable-line no-unused-vars
      return this.requirementsMap[cellValue]
    },
    handleChange (row, functionalRequirementId, newValue) {
      this.$emit('update', { requirement_id: row.requirement, functional_requirement_id: Number(functionalRequirementId), impact: newValue })
    },
  },
}
</script>
