<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="deviation-table">
    <el-table :data="deviation">
      <el-table-column
        prop="description"
        label="Solution"
        :sortable="true"
      />
      <el-table-column label="Relative deviation from targets">
        <el-table-column
          v-for="fr in Object.entries(fr_descriptions)"
          :key="fr[0]"
          :prop="fr[1]"
          :label="fr[1]"
          :sortable="true"
          :formatter="to_percent"
        />
      </el-table-column>
    </el-table>
  </div>
</template>

<script>

export default {

  props: {
    functionalRequirements: { type: Array, required: true },
    solutions: { type: Array, required: true },
    deviationFromTargets: { type: Array, required: true },
  },

  data () {
    return {

    }
  },

  computed: {
    fr_descriptions () {
      return Object.fromEntries(this.functionalRequirements.map(fr => [fr.id, fr.description]))
    },

    solution_descriptions () {
      return Object.fromEntries(this.solutions.map(solution => [solution.id, solution.description]))
    },

    deviation () {
      return this.deviationFromTargets.map(
        d => ({
          description: this.solution_descriptions[d.solution_id],
          ...Object.fromEntries(
            d.relative_deviation.map(x => ([this.fr_descriptions[x.functional_requirement_id], x.deviation]))
          ),
        })
      )
    },
  },

  methods: {
    to_percent (row, column, cellValue) {
      var out

      if ((typeof cellValue === 'undefined') | (cellValue == null)) {
        out = '-'
      } else {
        out = cellValue.toLocaleString(undefined, { style: 'percent', signDisplay: 'exceptZero', maximumFractionDigits: 2 })
      }
      return out
    },
  },

}

</script>
