<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <table-add-delete
    id="qfd-requirements-table"
    :data="requirements"
    delete-text="Delete this requirement"
    @delete="handleDelete"
    @cell-focus="changeSelection"
  >
    <table-column-input
      label="Description"
      model-attr="description"
      min-width="350"
      @input="handleInput"
    />
    <table-column-numeric-input
      label="Importance"
      model-attr="importance"
      strict-positive
      integer
      @input="handleInput"
    />
  </table-add-delete>
</template>

<script>
import TableAddDelete from '@/components/TableAddDelete.vue'
import TableColumnInput from '@/components/TableColumnInput.vue'
import TableColumnNumericInput from '@/components/TableColumnNumericInput.vue'
export default {
  name: 'QfdRequirementsTable',
  components: { TableAddDelete, TableColumnInput, TableColumnNumericInput },
  props: {
    requirements: { type: Array, required: true },
  },
  methods: {
    changeSelection (row, column) {
      this.$emit(
        'selected',
        {
          type: 'requirement',
          field: column.property,
          data: row,
          is_new: row.id === undefined,
          identifier: { id: this.$parent.analysis.resolveId('requirement', row.id) },
          applyFunction: (data) => {
            this.sendUpdate(this.$parent.analysis.reverseResolveId('requirement', row.id), data)
          }, // TODO: Hack alert! Shouldn't really be accessing the parent
        }
      )
    },
    sendUpdate (id, data) {
      if (id !== undefined) {
        this.$emit('update', id, data)
      } else {
        this.$emit('create', data)
      }
    },
    handleDelete (row) {
      if (row.id !== undefined) {
        this.$emit('del', row.id)
      }
    },
    handleInput (row, field, newValue) {
      this.sendUpdate(row.id, { [field]: newValue })
    },
  },
}
</script>
