<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-table
      :data="inventivePrinciples"
      empty-text="No conflicting Functional Requirements"
      :span-method="table_merge_col"
      :cell-style="table_format_cell"
    >
      <el-table-column
        label="Conflicting Functional Requirement"
        prop="functionalRequirement"
      />
      <el-table-column
        label="Worsening TRIZ class"
        prop="worsening"
      />
      <el-table-column
        label="Improving TRIZ class"
        prop="improving"
      />
      <el-table-column
        label="Suggested Inventive Principle"
        prop="description"
      />
      <el-table-column
        v-if="showDetails"
        label="Definition"
        prop="definition"
      />
      <el-table-column
        v-if="showDetails"
        label="Example"
        prop="example"
      />
      <el-table-column
        v-if="showDetails"
        label="Marine example"
        prop="marine"
      />
    </el-table>
  </div>
</template>

<script>

export default {
  name: 'QfdSuggestedInventivePrinciplesTable',
  props: {
    functionalRequirements: { type: Array, required: true },
    // eslint-disable-next-line vue/prop-name-casing
    worst_conflicts: { type: Array, required: false, default: () => [] },
    trizClasses: { type: Object, required: true },
    showDetails: { type: Boolean, required: true },
  },
  computed: {
    frDescriptions () {
      return Object.fromEntries(this.functionalRequirements.map(fr => [fr.id, fr.description]))
    },
    inventivePrinciples () {
      return this.worst_conflicts.reduce((tdata, conflict) => tdata.concat(conflict.contradictions.length
        ? conflict.contradictions.map((contradiction, idx) => ({
          ...this.$suggestedInventivePrinciples[contradiction.principle],
          conflict_span: idx === 0 ? conflict.contradictions.length : 0,
          functionalRequirement: this.frDescriptions[conflict.functional_requirement_id],
          worsening: this.trizClasses[contradiction.worsening],
          improving: this.trizClasses[contradiction.improving],
          worsening_id: contradiction.worsening,
          improving_id: contradiction.improving,
        })) : [{
          conflict_span: 1,
          functionalRequirement: this.frDescriptions[conflict.functional_requirement_id],
          worsening: 'No suggested inventive principles for conflict: consider TRIZ classes for functional requirements',
          improving: '',
        }]), [])
    },
    duplicatesWorsening () {
      return this.calculate_spans(this.inventivePrinciples.map(ip => ip.conflict_span), 'worsening_id')
    },
    duplicatesImproving () {
      return this.calculate_spans(this.duplicatesWorsening, 'improving_id')
    },
  },
  methods: {
    calculate_spans (groupBy, duplicateField) {
      // Get rowspans for parent grouping. Calculated spans should only consider duplicates where the cells in the preceding column are merged. If two rows have the same value in a column following separate values, they should not be merged.
      const idx = groupBy.filter(c => c > 0).reduce((t, c) => t.concat([[t[t.length - 1][1], t[t.length - 1][1] + c]]), [[0, 0]])
      // Get identifier for each row for checked column
      const ids = this.inventivePrinciples.map(ip => ip[duplicateField])
      const arr = idx.slice(1).map(c => ids.slice(...c))
      var spans = []
      arr.forEach(rows => {
        var merge = Array(rows.length + 1).fill(0)
        var firstIdx = 0
        var prev = null
        var numDuplicates
        rows.concat(null).forEach((r, idx) => {
          if (r === prev) {
            numDuplicates += 1
          } else {
            merge[firstIdx] = numDuplicates
            firstIdx = idx
            numDuplicates = 1
          }
          prev = r
        })
        merge.pop()
        spans.push(...merge)
      })
      return spans
    },
    table_merge_col ({ row, column, rowIndex, columnIndex }) {
      switch (columnIndex) {
        case 0:
          return [row.conflict_span, 1]
        case 1:
          return [this.duplicatesWorsening[rowIndex], row.improving ? 1 : this.showDetails ? 6 : 3]
        case 2:
          return [this.duplicatesImproving[rowIndex], row.improving ? 1 : 0]
        default:
          return [1, row.improving ? 1 : 0]
      }
    },
    table_format_cell ({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 1 && !row.improving) {
        return { color: '#909399', textAlign: 'center' }
      }
    },
  },
}

</script>
