<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="solution-ideality-table">
    <el-table :data="idealities">
      <el-table-column
        label="Solution"
        prop="description"
        :sortable="true"
      />
      <el-table-column
        label="Targets Achieved"
        prop="targets_achieved"
        :sortable="true"
      />
      <el-table-column
        label="Targets Missed"
        prop="targets_missed"
        :sortable="true"
      />
      <el-table-column
        label="Ideality"
        prop="ideality"
        :formatter="to_percent"
        :sortable="true"
      />
    </el-table>
  </div>
</template>

<script>

export default {

  props: {
    solutions: { type: Array, required: true },
    solutionIdealities: { type: Array, required: true },
  },

  data () {
    return {

    }
  },

  computed: {
    sol_id_map () {
      return Object.fromEntries(this.solutions.map(sol => [sol.id, sol]))
    },

    idealities () {
      return this.solutionIdealities.map(
        x => ({
          description: this.sol_id_map[x.solution_id].description,
          ...x,
        })
      )
    },

  },

  methods: {
    to_percent (row, column, cellValue) {
      var out

      if ((typeof cellValue === 'undefined') | (cellValue == null)) {
        out = '-'
      } else {
        out = cellValue.toLocaleString(undefined, { style: 'percent', maximumFractionDigits: 0 })
      }
      return out
    },

  },
}

</script>
