<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <table-add-delete
    id="qfd-solutions-table"
    :data="tdata"
    delete-text="Delete this solution"
    empty-text="Please enter atleast one Functional Requirement."
    @delete="handleDelete"
    @cell-focus="changeSelection"
  >
    <table-column-input
      label="Description"
      model-attr="description"
      @input="handleSolutionInput"
    />

    <table-column-numeric-input
      v-for="fr in functionalRequirements"
      :key="fr.id"
      :label="fr.description + ` [${ fr.units }]`"
      :model-attr="fr.id.toString()"
      min-width="200"
      :id-generator="row => 'value-' + fr.id.toString() + '-' + row.id"
      @input="handleAchievementInput"
    />
  </table-add-delete>
</template>

<script>
import TableAddDelete from '@/components/TableAddDelete.vue'
import TableColumnInput from '@/components/TableColumnInput.vue'
import TableColumnNumericInput from '@/components/TableColumnNumericInput.vue'
export default {
  name: 'QfdSolutionsTable',
  components: { TableAddDelete, TableColumnInput, TableColumnNumericInput },
  props: {
    solutions: { type: Array, required: true },
    achievements: { type: Array, required: true },
    functionalRequirements: { type: Array, required: true },
  },
  computed: {
    tdata () {
      const solutionsMap = {}
      const sols = this.solutions.map(sol => {
        solutionsMap[sol.id] = sol
        return sol
      })
      this.achievements.forEach(ach => {
        const s = ach.solution_id
        if (s in solutionsMap) {
          solutionsMap[s][ach.functional_requirement_id] = ach.value
        }
      })
      return sols
    },
  },
  methods: {
    changeSelection (row, column) {
      this.$emit(
        'selected',
        {
          type: 'solution',
          field: column.property,
          data: row,
          is_new: row.is_new,
          identifier: { id: this.$parent.analysis.resolveId('solution', row.id) },
          applyFunction: (data) => this.handleSuggestion(data, row),
        }
      )
    },
    handleDelete (row) {
      if (row.id !== undefined) {
        this.$emit('del', row.id)
      }
    },
    handleSolutionInput (row, field, newValue) {
      if (row.id !== undefined) {
        this.$emit('updateSolution', row.id, { [field]: newValue })
      } else {
        this.$emit('createSolution', { [field]: newValue })
      }
    },
    handleAchievementInput (row, functionalRequirementId, newValue) {
      this.$emit('updateAchievement', { solution_id: row.id, functional_requirement_id: functionalRequirementId, value: newValue })
    },
    handleSuggestion (data, row) {
      this.$emit('addSuggestion', data, row)
    },
  },
}
</script>
