<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-table
    id="qfd-triz-table"
    :data="tdata"
    empty-text="Please enter at least one Functional Requirement"
  >
    <el-table-column
      label="Functional requirement"
      prop="description"
    />
    <el-table-column
      label="TRIZ classes"
      v-bind="$attrs"
    >
      <template v-slot:header>
        <el-tooltip
          placement="right"
        >
          <div slot="content">
            Multiple TRIZ classes can be selected for each Functional Requirement.<br>To delete a TRIZ class, select the 'x' next to any entry.
          </div>
          <span>TRIZ Classes</span>
        </el-tooltip>
      </template>

      <template v-slot:default="{ row }">
        <el-select
          :id="'triz-' + row.id"
          v-model="row.triz"
          multiple
          @change="handleChange(row.id, row.triz)"
        >
          <el-option-group
            v-for="(classes, param) in triz_class_groups"
            :key="param"
            :label="param"
          >
            <el-tooltip
              v-for="(desc, num) in classes"
              :key="num"
              placement="top"
              :content="desc"
              :open-delay="500"
            >
              <el-option
                :label="desc"
                :value="parseInt(num)"
              />
            </el-tooltip>
          </el-option-group>
        </el-select>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: 'QfdTrizTable',
  components: { },
  props: {
    functionalRequirements: { type: Array, required: true },
  },
  computed: {
    triz_class_groups () {
      return this.$trizClassGroups
    },
    triz_classes () {
      return Object.assign({}, ...Object.values(this.$trizClassGroups))
    },
    tdata () {
      return this.functionalRequirements.map(fr => ({ id: fr.id, description: fr.description, triz: fr.triz ? [...fr.triz] : [] }))
    },
  },
  methods: {
    handleChange (id, values) {
      this.$emit('change', id, { triz: values })
    },
  },
}
</script>
<style>
  div.el-select {
    display: block;
  }
  div.el-select-dropdown__wrap {
    min-height: 390px;
  }
  ul.el-select-group__wrap {
    float: left;
    width: 16.6%;
  }
</style>
