<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="sidebar">
    <el-menu
      :collapse="isCollapsed"
      :collapse-transition="false"
      class="sidebar__menu"
      router
      :default-active="activeLink"
    >
      <el-menu-item
        index=""
        @click="toggleSidebar"
      >
        <i
          :class="'el-icon-arrow-' + collapseIcon"
        />
      </el-menu-item>
      <slot />
    </el-menu>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  data () {
    return {
      isCollapsed: true,
      collapseIcon: 'right',
      collapseText: 'Hide',
      activeLink: null,
    }
  },
  watch: {
    $route (to, from) {
      this.activeLink = this.getPathRoot(to.path)
    },
  },
  mounted: function () {
    this.activeLink = this.getPathRoot(this.$route.path)
  },
  methods: {
    toggleSidebar () {
      this.isCollapsed = !this.isCollapsed
      this.collapseIcon = this.isCollapsed ? 'right' : 'left'
    },
    getPathRoot (path) {
      return '/' + path.split('/')[1]
    },
  },
}
</script>

<style scoped lang=scss>

@use "sass:color";
@use '@/variables.scss';

.sidebar {
    display: grid;
    grid-template-areas:
        "menu"
        "info";
    grid-template-rows: 1fr auto;
}

.sidebar__menu {
    grid-area: menu;
    text-align: left;
}

::v-deep .el-menu {
    background: variables.$menuBg;
}

::v-deep .el-menu-item {
    color: variables.$menuText;
}

::v-deep .el-menu-item.is-active {
    color: variables.$menuActiveText;
}

::v-deep .el-menu-item:focus {
    background: unset;
}

::v-deep .el-menu-item:hover {
    background: variables.$menuHover;
}
</style>
