<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-steps
    id="stepper"
    :active="current"
    align-center
  >
    <el-step
      v-for="(step,idx) in steps"
      :id="'step-' + idx"
      :key="step.path"
      :title="step.title"
      @click.native="routeTo(step)"
    >
      <template v-slot:icon>
        {{ idx + 1 }}
        <el-badge
          :class="{ hide : step.errors === 0}"
          is-dot
        />
      </template>
    </el-step>
  </el-steps>
</template>

<script>
export default {
  name: 'Stepper',
  props: {
    steps: { type: Array, required: true },
  },
  computed: {
    current () {
      // return the index of the item in the steps array whose 'name' attribute matches the name of the current view.
      return this.steps.findIndex(step => step.name === this.$route.name)
    },
  },
  methods: {
    routeTo (path) {
      if (path.name !== this.$route.name) {
        this.$router.push(path)
      }
    },
  },
}
</script>

<style>
.el-step__icon {
 padding-left: 10px;
}
.el-step__icon, .el-step__main {
    cursor: pointer;
}
.stepper {
    max-width: 100%;
}
sup.el-badge__content.is-dot {
  left: 8px;
  top: -12px;
}
.el-badge.hide {
  visibility: hidden;
}
</style>
