<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-table-column
    :property="modelAttr"
    v-bind="$attrs"
  >
    <template
      v-slot:header
    >
      <slot
        name="header-tooltip"
        :label="$attrs.label"
      >
        <span>{{ $attrs.label }}</span>
      </slot>
    </template>
    <template v-slot:default="{ row }">
      <el-select
        :id="idGenerator(row, modelAttr)"
        v-model="row[modelAttr]"
        @change="onChange(row)"
      >
        <el-option
          v-for="option in options"
          :key="option.value"
          :label="option.label"
          :value="option.value"
          v-bind="$attrs"
        />
      </el-select>
    </template>
  </el-table-column>
</template>

<script>
export default {
  name: 'TableColumnSelect',
  props: {
    modelAttr: { type: String, required: true },
    options: { type: Array, required: true },
    className: { type: String, required: false, default: '' },
    idGenerator: { type: Function, required: false, default: (row, modelAttr) => modelAttr + '-' + row.id },
  },
  methods: {
    onChange (row) {
      const newValue = row[this.modelAttr]
      this.$emit('change', row, this.modelAttr, newValue)
    },
  },
}
</script>
<style>
</style>
