<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-table
    :data="tdata"
    style="width: 100%"
    row-class-name="qfd-list-row"
    :empty-text="emptyText"
    :span-method="table_merge_col"
    :cell-style="{ 'vertical-align': 'top' }"
    v-on="$listeners"
  >
    <slot />
    <el-table-column
      v-slot="{ row }"
      style="text-align: left"
      label=""
      width="60"
    >
      <el-tooltip
        :content="deleteText"
        class="operations"
      >
        <i
          v-show="!row.is_new"
          :id="'delete-' + row.id"
          class="el-icon-delete"
          @click="handleClickDelete(row)"
        />
      </el-tooltip>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: 'TableMultiAddDelete',
  props: {
    data: { type: Array, required: true },
    deleteText: { type: String, required: true },
    emptyText: { type: String, default: 'No Data' },
  },
  computed: {
    tdata () {
      // `data` prop is an array of arrays, e.g. [X, Y, Z]. Here, Z is an array of objects, each intended to form an editable row. Each object in Z contains a `parent_col_id` entry referencing an object in Y with a corresponding value in its `id` entry. Objects in Y also contain a `parent_col_id` reference an `id` in an object in X. This hierarchy continues for however many arrays `data` contains.
      // tdata then returns an array of objects for each row with parent data from preceding arrays combined in (with the rightmost key taking precedent). A `rowSpans` key is also added to each row containing an array defining the rowspan of columns with children
      // Example:
      // data = [
      //         [
      //          {a: 1, b: 2, id: 1}
      //         ],
      //         [
      //          {b: 3, id: 1, parent_col_id: 1},
      //          {b: 4, id: 2, parent_col_id: 1}
      //         ]
      //         [
      //          {c: 5, d: 6, id: 1, parent_col_id: 1},
      //          {c: 7, d: 8, id: 2, parent_col_id: 2}
      //          {c: 9, d: 0, id: 3, parent_col_id: 1}
      //         ]
      //        ]
      // becomes
      // tdata = [
      //          {a: 1, b: 3, c: 5, d: 6, id: 1, parent_col_id: 1, rowSpans: [3, 2]},
      //          {a: 1, b: 3, c: 9, d: 0, id: 3, parent_col_id: 1, rowSpans: [0, 0]}
      //          {a: 1, b: 4, c: 7, d: 8, id: 2, parent_col_id: 2, rowSpans: [0, 1]},
      //         ]
      // An object for a new row is also added for each unique parent_col_id in the final tdata array
      const data = this.data.slice(1).reduce((parent, arr, idx) => {
        // Create object mapping parent ID to array of children
        const childMap = arr.reduce((a, v) => ({ ...a, [v.parent_col_id]: [...a[v.parent_col_id] || [], v] }), {})
        return parent.reduce((a, v) => {
          const child = childMap[v.id] || []
          a.push(...child.map(x => ({ ...v, ...x, rowSpans: [...v.rowSpans, x.id], is_new: false })))
          if (idx === this.data.length - 2) {
            const x = { ...v, rowSpans: [...v.rowSpans, NaN], parent_col_id: v.id, is_new: true }
            delete x.id
            a.push(x)
          }
          return a
        }, [])
      }, this.data[0].map(x => ({ ...x, rowSpans: [x.id] })))
      // Find rowSpans for columns
      const parentCols = this.data.length - 1
      const curLengths = Array(parentCols).fill(1)
      const rowSpans = curLengths.map(x => [])
      const prevIds = data.length ? data[0].rowSpans.slice(0, parentCols) : []
      data.slice(1).forEach(x => {
        x.rowSpans.slice(0, parentCols).forEach((y, i) => {
          if (y === prevIds[i]) {
            curLengths[i] += 1
          } else {
            rowSpans[i].push(curLengths[i])
            rowSpans[i].push(...Array(curLengths[i] - 1).fill(0))
            curLengths[i] = 1
            prevIds[i] = y
          }
        })
      })
      curLengths.forEach((x, i) => {
        rowSpans[i].push(x)
        rowSpans[i].push(...Array(x - 1).fill(0))
      })
      return data.map((x, i) => ({ ...x, rowSpans: rowSpans.map(r => r[i]) }))
    },
  },
  methods: {
    handleClickDelete (row) {
      this.$emit('delete', row)
    },
    table_merge_col ({ row, column, rowIndex, columnIndex }) {
      const rowspan = row.rowSpans[columnIndex]
      return [rowspan === undefined ? 1 : rowspan, 1]
    },
  },
}
</script>
<style>
  .qfd-list-row .operations {
    visibility: hidden;
  }
  .qfd-list-row:hover .operations {
    visibility: visible;
  }
  .operations {
    font-size: 1.2em;
    cursor: pointer;
  }
</style>
