<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <el-table
      :data="filteredTree"
      :tree-props="{hasChildren: true, children: 'children'}"
      row-key="id"
      default-expand-all
      style="width: 100%"
      :height="800"
      row-class-name="table-list-row"
      :default-sort="{prop: 'updated', order: 'descending'}"
      @cell-click="handleClickSelect"
    >
      <el-table-column
        show-overflow-tooltip
        sortable
        label="Name"
        prop="name"
      />
      <slot name="cols" />
      <el-table-column
        show-overflow-tooltip
        sortable
        :formatter="localiseDate"
        label="Updated"
        prop="updated"
        width="160"
      />
      <el-table-column
        v-slot="{ row }"
        style="text-align: left"
        label=""
        width="120"
      >
        <el-tooltip
          content="Delete this analysis"
          class="operations"
        >
          <el-popconfirm
            confirm-button-text="Yes"
            cancel-button-text="No"
            icon="el-icon-warning"
            icon-color="red"
            title="Are you sure you want to delete this analysis?"
            @confirm="handleClickDelete(row)"
          >
            <template slot="reference">
              <i
                :id="'delete-' + row.id"
                class="el-icon-delete"
              />
            </template>
          </el-popconfirm>
        </el-tooltip>
        <el-tooltip
          content="Download this analysis"
          class="operations"
        >
          <i
            class="el-icon-download"
            @click="handleClickDownload(row)"
          />
        </el-tooltip>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: 'TableListAnalyses',
  props: {
    analyses: { type: Array, required: true },
    definePage: { type: String, required: true },
    filterString: { type: String, default: '' },
  },
  computed: {
    tree () {
      // Build tree
      const root = []
      const children = {}
      const resolveChildren = (a) => ({ ...a, children: (children[a.id] || []).map(resolveChildren) })
      this.analyses.forEach(a => {
        if (a.parent_analysis_id) {
          children[a.parent_analysis_id] = [...(children[a.parent_analysis_id] || []), a]
        } else {
          root.push(a)
        }
      })
      return root.map(resolveChildren)
    },
    filteredTree () {
      // Filter tree
      const filterAnalyses = (a) => {
        return a.reduce((x, y) => {
          const visibleChildren = filterAnalyses(y.children)
          if (visibleChildren.length || y.name.toLowerCase().includes(this.filterString.toLowerCase())) {
            x.push({ ...y, children: visibleChildren })
          }
          return x
        }, [])
      }
      return this.filterString ? filterAnalyses(this.tree) : this.tree
    },
    visibleCount () {
      const numEntries = (x) => x.children.reduce((a, v) => a + numEntries(v), 1)
      return this.filteredTree.reduce((a, v) => a + numEntries(v), 0)
    },
  },
  watch: {
    visibleCount (value) {
      this.$emit('filtered', value)
    },
  },
  methods: {
    localiseDate (row, column, cellValue) {
      const date = new Date(cellValue)
      return date.toLocaleString()
    },
    handleClickSelect (row, column) {
      if (column.property !== undefined) { // Don't link to analysis from delete/download column, identified by checking if property is defined
        this.$router.push({ name: this.definePage, params: { id: row.id } })
      }
    },
    handleClickDelete (row) {
      this.$emit('del', row.id)
    },
    handleClickDownload (row) {
      this.$emit('download', row.id)
    },
  },
}
</script>
<style>
  .table-list-row .operations {
    visibility: hidden;
    padding-right: 10px;
  }
  .table-list-row:hover .operations {
    visibility: visible;
  }
  .operations {
    font-size: 1.2em;
    cursor: pointer;
  }
</style>
