<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-table-column
    v-slot="{ row }"
    :property="modelAttr"
    :class-name="className"
    :label="label"
    :min-width="minWidth"
  >
    <el-input
      :id="idGenerator(row, modelAttr)"
      :value="row[modelAttr]"
      :readonly="readonlyFunc(row)"
      @input="(newValue) => onInput(row, newValue)"
    />
  </el-table-column>
</template>

<script>
export default {
  name: 'TableColumnInput',
  props: {
    label: { type: String, required: true },
    modelAttr: { type: String, required: true },
    minWidth: { type: String, required: false, default: '' },
    className: { type: String, required: false, default: '' },
    idGenerator: { type: Function, required: false, default: (row, modelAttr) => modelAttr + '-' + row.id },
    readonlyFunc: { type: Function, required: false, default: () => false },
  },
  methods: {
    onInput (row, newValue) {
      this.$emit('input', row, this.modelAttr, newValue)
    },
  },
}
</script>
<style>
  .numeric input {
      text-align: right;
  }
</style>
