<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <el-table
    :data="tdata"
    style="width: 100%"
    :empty-text="emptyText"
    row-class-name="table-add-del-row"
    :cell-style="{ 'vertical-align': 'top' }"
    v-on="$listeners"
  >
    <slot />
    <el-table-column
      v-slot="{ row }"
      style="text-align: left"
      label=""
      width="60"
    >
      <el-tooltip
        :content="deleteText"
        class="operations"
      >
        <i
          v-show="!row.is_new"
          :id="'delete-' + row.id"
          class="el-icon-delete"
          @click="handleClickDelete(row)"
        />
      </el-tooltip>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: 'TableAddDelete',
  props: {
    data: { type: Array, required: true },
    deleteText: { type: String, required: true },
    emptyText: { type: String, default: 'No Data' },
  },
  computed: {
    tdata () {
      return [...this.data.map(d => ({ ...d, is_new: false })), { is_new: true }]
    },
  },
  methods: {
    handleClickDelete (row) {
      this.$emit('delete', row)
    },
  },
}
</script>
<style>
  .table-add-del-row .operations {
    visibility: hidden;
  }
  .table-add-del-row:hover .operations {
    visibility: visible;
  }
  .operations {
    font-size: 1.2em;
    cursor: pointer;
  }
</style>
