<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div id="toolpane-notes-panel">
    <h3>Notes</h3>
    <el-input
      :value="noteContent"
      type="textarea"
      placeholder="Add notes here..."
      :rows="20"
      @input="updateNotes"
    />
  </div>
</template>

<script>
import { tagPageMap } from '@/entity_mapping.js'

export default {
  name: 'ToolpaneNotes',
  props: {
    notes: {
      type: Array, required: true,
    },
    analysisType: {
      type: String, required: true,
    },
  },
  computed: {
    noteContent () {
      const thisNote = this.notes.find(
        note => note.tag === tagPageMap[this.analysisType][this.$route.name]
      )
      return thisNote ? thisNote.content : null
    },
  },
  methods: {
    updateNotes (content) {
      this.$emit('update', { content: content, tag: tagPageMap[this.analysisType][this.$route.name] })
    },
  },
}

</script>
