<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div class="toolpane">
    <div class="toolpane__menu">
      <el-menu
        :collapse="true"
        background-color="white"
        default-active="info"
        @select="selectVisible"
      >
        <el-menu-item
          id="toolpane-menu-info"
          index="info"
        >
          <i

            class="el-icon-info"
            :class="{ unsaved: !saved }"
          /><span
            v-if="saved"
            slot="title"
          >All changes are saved.</span>
          <span
            v-else
            slot="title"
          >Saving...</span>
        </el-menu-item>
        <el-tooltip
          content="Issues"
          placement="right"
        >
          <el-menu-item
            id="toolpane-menu-issues"
            index="issues"
            class="issuesButton"
            :class="{ issues: analysis.issues.length > 0 }"
          >
            <el-badge
              :hidden="analysis.issues.length === 0"
              :value="analysis.issues.length"
            >
              <i
                class="el-icon-warning-outline"
              /><span slot="title">Issues</span>
            </el-badge>
          </el-menu-item>
        </el-tooltip>
        <el-menu-item index="sources">
          <i class="el-icon-document-copy" /><span slot="title">Data Sources</span>
        </el-menu-item>
        <el-menu-item
          id="toolpane-menu-notes"
          index="notes"
        >
          <i
            class="el-icon-notebook-1"
          /><span slot="title">Notes</span>
        </el-menu-item>
        <el-menu-item
          id="toolpane-menu-help"
          index="help"
        >
          <i
            class="el-icon-question"
          /><span slot="title">Help</span>
        </el-menu-item>
      </el-menu>
    </div>
    <div
      class="toolpane__content"
      :class="{visible: paneOpen}"
    >
      <toolpane-info
        v-show="activeMenu === 'info'"
        :analysis="analysis"
        :display-info="displayInfo"
      />
      <tool-data-sources
        v-show="activeMenu === 'sources'"
        :analysis="analysis"
        :selection="selection"
      />
      <toolpane-issues
        v-show="activeMenu === 'issues'"
        :analysis="analysis"
      />
      <toolpane-notes
        v-show="activeMenu === 'notes'"
        :notes="analysis.notes"
        :analysis-type="analysis._type"
        @update="updateNotes"
      />
      <toolpane-help
        v-show="activeMenu === 'help'"
        :current-page="$route.name"
      />
    </div>
  </div>
</template>

<script>
import ToolpaneInfo from '@/components/ToolpaneInfo.vue'
import ToolpaneIssues from '@/components/ToolpaneIssues.vue'
import ToolpaneHelp from '@/components/ToolpaneHelp.vue'
import ToolpaneNotes from '@/components/ToolpaneNotes.vue'
import ToolDataSources from '@/components/ToolDataSources.vue'

export default {
  name: 'Toolpane',
  components: { ToolpaneInfo, ToolpaneIssues, ToolpaneNotes, ToolpaneHelp, ToolDataSources },
  props: {
    analysis: {
      type: Object, required: true,
    },
    displayInfo: {
      type: Array, required: false, default: () => [],
    },
    selection: {
      type: Object, required: true,
    },
  },
  data () {
    return {
      activeMenu: 'info',
      saved: this.analysis._queueLength === 0,

    }
  },
  computed: {
    paneOpen () {
      return this.$state.showToolPane
    },
  },
  watch: {
    analysis: {
      deep: true,
      handler (theAnalysis) {
        if (theAnalysis._queueLength > 0) {
          this.saved = false
        } else {
          this.saved = true
        }
      },
    },
  },
  methods: {
    selectVisible (idx) {
      // If pane is closed, any menu item opens it and goes to that item. If pane is open, current menu item closes it
      if (!this.paneOpen || idx === this.activeMenu) {
        this.$state.showToolPane = !this.$state.showToolPane
      }
      this.activeMenu = idx
    },
    updateNotes (data) {
      this.analysis.addOrUpdateNotes(data)
    },
  },
}
</script>

<style scoped lang="scss">
@use '@/variables.scss';

.toolpane ::v-deep .el-menu-item i.unsaved {
  color: variables.$error;
}

.issuesButton.issues i{
  color: variables.$error;
}

::v-deep .el-badge > sup.el-badge__content{
  font-size: .7em;
  top: 20px
}

.toolpane {
  display: grid;
  grid-template-areas: "menu content";
  grid-template-columns: 64px 1fr;
  height: 100%;
}

.toolpane__content {
  grid-area: content;
  width: 300px;
  height: 100%;
  display: none;
  padding-left: 10px;
  padding-right: 10px;
}

.toolpane__content.visible {
  display: block;
}

.toolpane__menu {
  grid-area: menu;
  height: 100%;
}

::v-deep .toolpane__menu .el-menu {
  height: 100%;
  border-left: solid 1px #e6e6e6;
}
</style>
