<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div v-if="selection.type !== null">
    <el-table
      v-if="suggestionSources.length === 0"
      v-loading="refreshing"
      :data="suggestions"
      empty-text="No Suggestions."
    />
    <el-table
      v-for="source in suggestions"
      :key="source.identifier"
      row-key="identifier"
      :tree-props="{hasChildren: true, children: 'suggestions'}"
      :data="source.suggestions"
      empty-text="No Suggestions."
      @row-click="onSomethingClicked"
    >
      <el-table-column
        :label="source.label"
      >
        <template v-slot="{ row }">
          <el-tooltip
            v-if="'content' in row"
            placement="left"
          >
            <span>{{ row.label }}</span>
            <template v-slot:content>
              <table>
                <tr
                  v-for="(value, field) in row.content"
                  :key="field"
                >
                  <td>{{ field }}</td><td>{{ value }}</td>
                </tr>
              </table>
            </template>
          </el-tooltip>

          <span v-else>{{ row.label }}</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
  <div v-else>
    <el-table
      v-if="suggestionSources.length === 0"
      :data="suggestions"
      empty-text="No field selected."
    />
  </div>
</template>

<script>

import { getSuggestions } from '@/service/suggestions.js'

export default {
  name: 'ToolDataSources',
  props: { analysis: { type: Object, required: true }, selection: { type: Object, required: true } },
  data () {
    return {
      currentSource: 'solution_hierarchy',
      suggestions: [],
      refreshing: false,
    }
  },
  computed: {
    suggestionSources () {
      return [...new Set(this.suggestions.map(suggestion => suggestion.source))]
    },
  },
  watch: {
    selection (selection) {
      if (selection.type !== null) {
        this.updateSuggestions()
      }
    },
  },
  methods: {
    async updateSuggestions () {
      this.refreshing = true
      this.suggestions = []
      const options = {
        entity: this.selection.type,
        analysis_type: this.selection.analysis_type,
        analysis_id: this.analysis.id,
        is_new: this.selection.is_new,
        identifier: this.selection.identifier,
        field: this.selection.field,
        context: this.selection.context,
      }
      this.suggestions = await getSuggestions(options)
      this.refreshing = false
    },
    isSuggestionNotGroup (data) {
      return ('content' in data)
    },
    isProvider (data) {
      return data ? this.suggestionSources.includes(data.identifier) : false
    },
    removeLeaf (tree, toDelete) {
      if (this.isSuggestionNotGroup(tree[0])) {
        return tree.filter(suggestion => suggestion !== toDelete)
      } else {
        return tree.map(
          group => ({
            ...group,
            suggestions: this.removeLeaf(group.suggestions, toDelete),
          })
        ).filter(group => group.suggestions.length > 0 || this.isProvider(group))
      }
    },
    onSomethingClicked (data, _) {
      if (this.isSuggestionNotGroup(data)) {
        this.selection.applyFunction(data.content)
        this.suggestions = this.removeLeaf(this.suggestions, data)
      }
    },
  },
}
</script>
