<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div id="toolpane-info-panel">
    <h3>{{ displayName }}</h3>
    <p v-if="analysis.objective">
      {{ analysis.objective }}
    </p>
    <el-table
      :data="displayPanelInfo"
      :show-header="false"
    >
      <el-table-column
        width="200"
      >
        <template v-slot:default="{ row }">
          {{ row.field }}
        </template>
      </el-table-column>
      <el-table-column>
        <template v-slot:default="{ row }">
          {{ row.value }}
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>

export default {
  name: 'ToolpaneInfo',
  props: {
    analysis: {
      type: Object, required: true,
    },
    displayInfo: {
      type: Array,
      required: false,
      default: () => [],
      validator: info => {
        return info.every(obj => 'field' in obj && 'value' in obj)
      },
    },
  },
  computed: {
    displayPanelInfo () {
      return [
        { field: 'Created', value: this.formatDate(this.analysis.created) },
        { field: 'Last Updated', value: this.formatDate(this.analysis.updated) },
        ...this.displayInfo,
      ]
    },
    displayName () {
      return this.analysis.name || 'Untitled Analysis'
    },
  },
  methods: {
    formatDate (datestring) {
      const d = new Date(datestring)
      return isNaN(d.getDate()) ? '-' : d.toLocaleString()
    },
  },
}

</script>
