<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div id="toolpane-issues-panel">
    <h3>Issues</h3>
    <el-switch
      v-model="showAll"
      active-text="Show issues for all pages"
    />
    <p style="font-size: 14px">
      Double-clicking an issue will navigate to it.
    </p>
    <el-table
      id="issues-table"
      v-loading="refreshing"
      :data="filteredIssues"
      :show-header="false"
      empty-text="No Issues"
      style="cursor: default; padding-top: 20px"
      @row-dblclick="handleRowClick"
    >
      <el-table-column
        v-slot="{ row }"
        width="30"
      >
        <i
          :class="'el-icon-' + row.type"
          style="font-size: 20px;"
        />
      </el-table-column>
      <el-table-column v-slot="{ row }">
        <span style="text-decoration: underline">{{ displayLabel(row.entity) }}</span><br>
        {{ row.message }}
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { entityPageMap, tagPageMap, entityLabelMap } from '@/entity_mapping.js'

export default {
  name: 'ToolpaneIssues',
  props: {
    analysis: {
      type: Object, required: true,
    },
  },
  data () {
    return {
      refreshing: false,
      showAll: false,
    }
  },
  computed: {
    filteredIssues () {
      if (this.showAll) {
        return this.analysis.issues
      } else {
        return this.analysis.issues.filter(
          issue => issue.tags.includes(
            tagPageMap[this.analysis._type][this.$route.name]
          )
        )
      }
    },
  },
  created () {
    this.$watch('analysis._queueLength', function (queueLength) {
      if (queueLength === 0) {
        clearTimeout(this.refreshTimer)
        this.refreshing = true
        this.refreshTimer = setTimeout(
          () => {
            this.analysis.getIssues()
            this.refreshing = false
          }, 1000
        )
      }
    }
    )
  },
  methods: {
    displayLabel (entity) {
      return entityLabelMap[this.analysis._type][entity]
    },
    handleRowClick (row) {
      const pageRoute = entityPageMap[this.analysis._type][row.entity]
      const resolvedIds = []
      switch (row.entity) {
        case 'achievement':
          // A specific case for QFDSolutions page - the achievements IDs are constructed from their related
          // functional requirement and solution IDs.
          // TODO: We may want to look at handling this better...
          resolvedIds[0] = this.analysis.reverseResolveId('functional_requirement', row.id[0])
          resolvedIds[1] = this.analysis.reverseResolveId('solution', row.id[1])
          break
        default:
          resolvedIds[0] = this.analysis.reverseResolveId(row.entity, row.id)
      }
      const elementId = row.field + '-' + resolvedIds.join('-')
      if (this.$route.name === pageRoute) {
        const el = document.getElementById(elementId)
        if (row.id && row.field) {
          el.focus()
          el.scrollIntoView()
        }
      } else {
        this.$router.push({ name: entityPageMap[this.analysis._type][row.entity] }).then(() =>
          this.$nextTick().then(() => {
            const el = document.getElementById(elementId)
            if (row.id && row.field) {
              el.scrollIntoView()
              el.focus()
            }
          })
        )
      }
    },
  },
}

</script>

<style scoped lang="scss">
@use '@/variables.scss';

.el-icon-error {
  color: variables.$error;
}
.el-icon-warning {
  color: variables.$warning;
}
.el-icon-question {
  color: variables.$question;
}
</style>
