<!-- DTOcean+ Structured Innovation Module
     Copyright (C) 2021 Energy Systems Catapult

     This program is free software: you can redistribute it and/or modify it
     under the terms of the GNU Affero General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful, but
     WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
     or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
     License for more details.

     You should have received a copy of the GNU Affero General Public License
     along with this program. If not, see <https://www.gnu.org/licenses/>. -->

<template>
  <div>
    <h3>Help</h3>
    <div v-show="currentPage === 'QfdDefine'">
      <p>
        This is the page where you create a QFD & TRIZ analysis. First, the following fields need to be determined:
      </p><p><b>Name</b>: This is the name that appears in the list of analyses.</p>
      <p><b>Objective</b>: This is the top level objective for the analysis; it describes what you ultimately want to achieve (e.g. <b>Input Objective:</b> e.g. Generating ideas for optimising device topologies.</p>
      <p>
        <b>Solution Hierarchy Level:</b> The Solution hierarchy intends to offer a structured set of prompts to help the user consider multiple solutions to different
        QFD levels – the user can then understand the potential for ideality, innovation, and thoroughness.
      </p>
    </div>
    <div v-show="currentPage === 'QfdRequirements'">
      <p>
        <b>Description: </b>This captures the wants and needs of the customers related to their objective.
        These requirements are usually very general, vague and difficult to implement directly, requiring further refined definition.
        However, they can be obtained through interviews, focus groups, questionnaires, and related methods.
        For instance, the customer requirements to design a wave energy converter can generate electricity at:
        <ol>
          <li>The lowest possible cost of energy</li>
          <li>Reduced commerical risks</li>
          <li>Minimal environmental impact</li>
        </ol>
      </p>
      <p>
        <b>Importance: </b>The team should rate each requirement based on their level of Importance to the customer.
        The Importance of the requirements should be set relative to one another.
        For example, a requirement with an importance of 4 is twice as important as a requirement with an importance of 2.
        The lowest value possible is 1. Although it is possible to set two requirements equally important, you should consider whether this is the case very carefully.
        Usually, given a choice between them, there is one that would be preferable to the other.
        For instance,
        <ol>
          <li>The lowest possible cost of energy, Highest Importance - 10</li>
          <li>Redcued commerical risks, Importance - 9</li>
          <li>Minimal environmental impact, Importance - 6</li>
        </ol>
      </p>
    </div>
    <div v-show="currentPage === 'QfdFunctionalRequirements'">
      <ol>
        <li>
          <p>
            <b>Functional Requirement (Description): </b>Describe function requirements that contribute to achieving the customer requirements set out in step 2 of the process.
            These requirements should be meaningful, measurable, practical and global.
            By being global, requirements should be stated to avoid implying a particular technical solution, not to constrain innovation.
            This will allow a wide range of alternatives to be considered in an effort to better meet customer needs.
          </p>
          <p>
            For instance, if the customer wants to reach the lowest cost of energy, some of the functional requirements to achieve this would be:
            <ol>
              <br>
              <li>Capital Cost (lowest)</li>
              <li>Energy Yield (Highest)</li>
            </ol>
          </p>
        </li>
        <li><p><b>Identify the direction</b> for each functional requirement by setting <b>target value</b> and <b>direction of improvement</b> for each requirement (lower or higher)</p></li>
        <li>
          <p>
            The user is required to quantify <b>target or ideal values</b> for each potential area of innovation, i.e. the defined functional requirements,
            to assess the potential scenarios for innovation, support comparisons against the state-of-the-art leading-edge technologies or concepts,
            and provoke innovation and inventive processes. These target values could take one of the four data types: the state-of-the-art,
            commercial acceptance targets, ideal technology values (the art-of-the-possible) or benchmark data (performance data).
          </p>
        </li>
        <li>
          <p>
            <b>Assess Organisational Impacts/Difficulty: </b>When assessing the difficulty to engineer and deliver, the user must think about how much effort is
            required for the organisation to implement the design’s ideal functions.
            This function rates the organisation’s difficulty in engineering (design/engineer) and delivering (make, supply, deliver)
            these ideal functional requirements using the tool pre-defined rating (scale of Low- Easy, to High-Hardest to implement).
          </p>
        </li>
      </ol>
    </div>
    <div v-show="currentPage === 'QfdImpacts'">
      <p>
        The strength of the relationships between the customer requirements and the functional requirements are defined using the tool’s pre-defined scale-
        High=9, Medium=4, Low=1, None=0. The strength of these relationships is determined based on the knowledge of the (team of)
        designers on fundamental relationships of ocean energy parameters.
      </p>
      <p>
        For instance, It is also known that for a WEC to be economically viable, a continuous reduction of the Lifetime cost
        (LCOE) is needed. The LCOE is a function of the capital expenditure (CAPEX), operational expenditure (OPEX),
        the decommissioning costs (Dec), the time value of money (present (PV) and future values (FV) factors, and the energy produced (AEP).
      </p>
      <p>
        Knowing the above relationships, it is clear that there is a “High” impact between lowering the lifetime cost whilst increasing the energy yield
        and a “High” impact with the CAPEX.
      </p>
      <p>
        <b>Priority Ranking check (Error warning)</b>- Note that a Priority Ranking warning is provided here as an extra check to ensure that the Importance of each Customer requirement
        is translated to the quality and Importance of the functional requirements. The Priority Ranking is the product of each CR importance with the Impact rating of each
        Functional requirement.
        Note that the functional requirements (FRs) are defined using the tool’s pre-defined scale- High=9, Medium=4, Low=1, None=0.
      </p>
    </div>
    <div v-show="currentPage === 'QfdCorrelations'">
      <p>
        As correlation is reciprocal, entries against one Functional Requirement are automatically added for the corresponding Functional Requirement.
        For example, suppose the Correlation between Functional Requirement A and Functional Requirement B is entered as low negative.
        In that case, the tool ensures that the Correlation between Functional Requirement B and Functional Requirement A is also low negative.
      </p>
    </div>
    <div v-show="currentPage === 'QfdTriz'">
      <p>
        The user is presented with 39 generic contradiction (TRIZ classes);
        selected from the pre-defined 39x39 TRIZ contradiction matrix.
        An example is presented with the most relevant TRIZ classes selected to the specific functional requirements.
      </p>
    </div>
    <div v-show="currentPage === 'QfdSolutions'">
      <p>
        This section compares competitor’s solutions to better understand the competition or where it is worth investing.
        The competitor here refers to State-of-the-art (SoTA) leading-edge technology or design data, including the newest ideas or concepts.
      </p>
      <p>
        The user will evaluate how other companies or design perform in comparison to the target values proposed.
        This step consists of various input fields. Here, the relevant functions of the State-of-the-art or the competitor’s technologies
        are compared to the ideal target values proposed for innovation. In addition, the tool will warn the user if an input field is left blank.
      </p>
      <p>
        Depending on the data source, the unit’s fields at the end of each line are automatically inserted.
        To edit any entry, change the relevant field. To delete, move the cursor over the relevant entry and select the ‘bin’ icon.
      </p>
    </div>
    <div v-show="currentPage === 'QfdReport'">
      <p>
        The QFD/TRIZ Report Page summarises all the outputs, including a list of proposed innovative functions,
        their metrics, conflicts and interrelationships, and impact as detailed below.
      </p>
      <el-collapse
        accordion
      >
        <el-collapse-item>
          <template v-slot:title>
            <h3>Deviation from Targets</h3>
          </template>
          <p>
            The <b>relative deviation</b> from functional targets shows the percent
            difference between the functional requirement and the target. This is
            one of the ways you can assess how close a solution is to meeting one of
            the fuctional requirements. A value of 0 means that the target is met.
            A positive value means that the solution is beating the target.
          </p>
          <p>
            Calculating this value makes some assumptions about targets, such as that
            they are on a scale beginning at 0.
          </p>
          <p>
            If this value is missing, it is either because an achievement has
            not yet been added for this functional requirement / solution combination,
            or the target is 0. If the target is 0, relative deviation cannot meaningfully be
            calculated in this way, and you should refer to the actual deviation table instead.
          </p>
          <p>
            The <b>actual deviation</b> from targets is expressed in the same units as the target.
            These are adjusted to take into consideration the direction of improvement.
            A positive value means the target is being beaten, whereas a negative number
            means improvement is still needed.
          </p>
        </el-collapse-item>
        <el-collapse-item>
          <template v-slot:title>
            <h3>Potential for disruption</h3>
          </template>
          <p>
            This table helps you to find where innovation is most likely to disrupt the market.
          </p>
          <p>
            The importance of the functional requirement takes account of how much it impacts
            upon the stakeholder requirements and how important those requirements are. The
            organisational impact combines the techncial difficulty of achieving a target with
            the difficulty to deliver it. A high value in the <em>importance</em> column and a
            low value in the <em>organisational impact</em> column could indicate low hanging
            fruit.
          </p>
          <p>
            This table also shows the best value and worst values being achieved by the
            solutions against this target, and how many are achieving it. A high value in the
            <em>importance</em> column, with a low value in the <em>Solutions Achieving</em>
            column would suggest high potential for disruption.
          </p>
        </el-collapse-item>
        <el-collapse-item>
          <template v-slot:title>
            <h3>Ideality of solutions</h3>
          </template>
          <p>
            This table helps to assess the ideality of the presented solutions. This can be
            used to choose a technology type as a base, if you are just at the start of your
            innovation journey. It can also be used to continually assess your technology
            against the competitors as you progress.
          </p>
          <p>
            The <em>Targets Achieved</em> column shows how many targets have been met or
            exceeded, whereas the <em>Targets Missed</em> column shows how many have not
            yet been met by this solution. The <em>Ideality</em> column is a measure of how
            far the solution is from ideality, with 100% meaning all targets have been met or
            exceeded, and 0% meaning none have. This score is weighted by the importance of
            the functional requirement achieved.
          </p>
        </el-collapse-item>

        <el-collapse-item>
          <template v-slot:title>
            <h3>TRIZ conflicts</h3>
          </template>
          <p>
            This section proposes a list of TRIZ inventive principles for the contradictions
            that were identified during the QFD process.
          </p>
          <p>
            For each functional requirement, the conflicting functional requirement can be seen
            alongside an the inventive principle that can be applied to overcome the contradiction.
            The toggle switch can optionally add a description of the inventive principle, alongside
            a generic example and an example from the marine energy sector where available.
          </p>
          <p>
            This depends on TRIZ classes having been appropriately assigned during the TRIZ step.
          </p>
        </el-collapse-item>
        <el-collapse-item>
          <template v-slot:title>
            <h3>Dive Deeper</h3>
          </template>
          <p>
            Once you have taken in the report and decided which functional requirements require
            further innovation, you can select functional requirements from the <em>Dive Deeper</em>
            drop-down and start a new analysis with those as your starting point.
          </p>
          <p>
            If you are using the Solution Hierarchy, this will enable Solution Hierarchy suggestions at
            the next level.
          </p>
        </el-collapse-item>
      </el-collapse>
    </div>
    <div v-show="currentPage === 'FmeaDefine'">
      <p>
        The Risk Priority Number (RPN), a product of the Occurrence (OCC), Severity (SEV), and Detection (DET) rankings,
        is a measure used when assessing risks to help identify critical failure modes.
        The RPN threshold and action levels are used to prioritise failure modes with the highest risks,
        to obtain suitable corrective actions to reduce the criticality of potential failures.
        Therefore, caution is required when assessing risks using RPN values only.
      </p>
      <p>The complete scaling matrix and definitions implemented in the SI tool for Severity, Occurrence are taken from ISO 12132 standard and described in the documentation.</p>
    </div>
    <div v-show="currentPage === 'FmeaRequirements'">
      <p>
        To add a requirement using data from another part of the DTOceanPlus suite of tools,
        click on an empty description field and select the Data Sources icon from the Additional Information bar.
        Then select the required entry from the dropdown list(s) under each heading.
      </p>
      <p>To edit any entry, change the relevant field. To delete, move the cursor over the relevant entry and select the ‘bin’ icon. </p>
    </div>
    <div v-show="currentPage === 'FmeaFailureModes'">
      <p>
        Failure modes are how a design can fail. The team will then brainstorm to identify potential failure modes related to each requirement.
        For example, this might require reviewing documentation, similar systems and the ways component/interface can fail.
      </p>
    </div>
    <div v-show="currentPage === 'FmeaEffects'">
      <p>
        In FMEA, the Effects of failures are how these failures can lead to defect or harmful outcomes to the design and the customer.
        Each effect is given a severity ranking associated with the extremely severe effect of failure modes.
      </p>
      <p>The complete scaling matrix and definitions implemented in the SI tool for Severity, Occurrence are taken from ISO 12132 standard and described in the documentation.</p>
    </div>
    <div v-show="currentPage === 'FmeaCauses'">
      <p>
        All possible root causes of failures are captured at this stage,
        including the occurrence ranking associated with the likelihood that the failure mode and related causes will be present in the function being considered.
        In addition, since a failure mode may have more than one cause, all probable causes should be captured.
      </p>
      <p>Note that at least 1 cause must be added for each failure mode. The dropdown lists enable the selection of the occurrence limit for each potential cause of failure. </p>
    </div>
    <div v-show="currentPage === 'FmeaDesignControls'">
      <p>
        This page captures the likelihood that existing design controls and measures will detect that a failure has occurred (Detection).
        A detection ranking is determined for each failure based on the existing detection and control system in place.
      </p>
    </div>
    <div v-show="currentPage === 'FmeaMitigations'">
      <p>
        The mitigation page presents all the information that was inputted by the user: the requirement,
        potential failure modes, and associated effects and the severity level, causes and occurrence level,
        design controls and detection level. In addition, the final Risk Priority Number (RPN) is shown,
        highlighting requirements that need mitigation:
      </p>
      <p>
        <ul>
          <li>
            The criticalities of failures are then determined using the RPN,
            which is calculated by multiplying the Severity (SEV), Occurrence (OCC), and Detection (DET) rankings
            associated with each failure:  RPN = SEV*OCC* DET.
          </li>
          <li>
            This RPN is then used to prioritise risks, and suitable follow-up corrective actions are proposed to reduce the
            criticality of potential failures by implementing the Mitigated actions. These Mitigated actions can be obtained
            from the QFD alternative solutions, specific actions for the system (e.g. proposed design review, enhanced material properties),
            and background literature (e.g. measures implemented in other sectors).
          </li>
          <li>
            Where required to reduce the RPN or Occurrence limit to below the action level,
            enter the name of the mitigation and any revisions to the severity, probability of occurrence, and detection likelihood.
          </li>
        </ul>
      </p>
    </div>
    <div v-show="currentPage === 'FmeaReport'">
      <p>
        From the Report page, you can view the FMEA analysis data and see revised RPNs where mitigations have been provided.
      </p>
      <p>
        For outstanding mitigations, select Previous to return to the last step or select Structured Innovation Home on the
        menu bar to return to the tool home page. In addition, this report can be reloaded from the List of FMEA Analyses page
        by selecting the relevant filename from the list.
      </p>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ToolpaneHelp',
  props: {
    currentPage: {
      type: String, required: true,
    },
  },
}

</script>
