//- DTOcean+ Structured Innovation Module
//- Copyright (C) 2021 Energy Systems Catapult
//-
//- This program is free software: you can redistribute it and/or modify it
//- under the terms of the GNU Affero General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful, but
//- WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
//- or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
//- License for more details.
//-
//- You should have received a copy of the GNU Affero General Public License
//- along with this program. If not, see <https://www.gnu.org/licenses/>.

doctype html
head
  title QFD/TRIZ
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/style.css')
  script(type='module' src='https://cdn.pika.dev/wired-elements/latest')

mixin page
    .page
        wired-card
            if block
                block
            else
                p empty page
            .nl
                wired-button Next

mixin ip(label="", pl="")
    .input
        span= label
        wired-input(placeholder= pl)
        if block
            block

body
    +page
        +ip("Name")
        +ip("Objective")

    +page
        p Enter requirements in order or priority
        +ip("", "Lowest lifetime cost")
        +ip("", "Highest effectiveness")
        +ip

    p For each requirement:
    +page
        p What are all the ways "Lowest lifetime cost" might be achieved?
        +ip("Reduce capital costs")
        +ip("Reduce degrediation")

    p For each functional requirement:
    +page
        div
        em Reduce Capital Cost
        div
            span Increase controlability
            wired-slider(max=6, style="max-width:10em")
        div
            span Decrease degredation
            wired-slider(max=6, style="max-width:10em")

    +page
        p Triz Classes
        div
            em Capital Cost
            .triz
                wired-input(placeholder="Quantity of the matter")
                span ➕️
            .triz
                wired-input
                span ➕️

            em Controllability
            .triz
                wired-input()
                span ➕️
            .triz
                wired-input
                span ➕️


    +page
        p Level of impact of functional requirements on requirements
        table
            tr
                td
                td(style="border-bottom: solid 1px") Capital Cost
                td(style="border-bottom: solid 1px") Controllability
            tr
                td(style="border-right: solid 1px") Lowest lifetime cost
                td High
                td
            tr
                td(style="border-right: solid 1px") Lowest environmental impact
                td Medium
                td Low

    +page
        p What solutions already exist?
        .sol
            wired-input(placeholder="Plate")
        .sol
            wired-input(placeholder="Tube")

    p For each functional requirement
    +page
        +ip("Target")
        +ip("Units")
        +ip("Difficulty to achieve")
        +ip("Difficulty to achieve")
        br
        wired-divider
        p Achievement of existing solutions
        +ip("Plate")
        +ip("Tube")

    wired-card
        p Report on Ideality of solutions
        wired-card(fill="grey", style="width: 90%;height:4em;")
        br
        wired-divider
        p Suggested Triz solutions to deal with non-ideal
        wired-card(fill="grey", style="width: 90%;height:4em;")
